{% extends 'daily/daily.html' %} {% block content %}
<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <h5>Daily Team Communication</h5>
  </div>

  <div class="card-body">
    <div class="mb-2">
      <button
        class="btn"
        style="background-color: #051729; color: white"
        data-toggle="modal"
        data-target="#addDailyModal">
        Adicionar Comentários
      </button>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Team Leader</th>
            <th>Data dos Comentários</th>
            <th>Turno</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if daily_data|length == 0 %}
          <tr>
            <td colspan="8" class="text-center">Sem Comentários</td>
          </tr>
          {% else %} {% for record in daily_data %}
          <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.username }}</td>
            <td class="data">{{ record.data }}</td>
            <td>{{ record.turno }}</td>
            <td>
              <button
                class="btn btn-info btn-md"
                data-toggle="modal"
                data-target="#dailyDetailsModal"
                data-id="{{ record.id }}"
                data-safety="{{record.safety_comment}}"
                data-quality="{{record.quality_comment}}"
                data-volume="{{record.volume_comment}}"
                data-people="{{record.people_comment}}">
                <i class="fas fa-eye"></i>
              </button>
            </td>
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include "daily/components/addCommentModal.html" %} {% include
"daily/components/dailyDetailsModal.html" %}

<script>
  {% include "daily/js/addComment.js" %}
  {% include "daily/js/dailyDetailsModal.js" %}
</script>

{% endblock %}
