{% extends 'analytics/analytics_base.html' %} {% block content %}

<style>
  #filterToggleBtn {
    transition: color 0.3s ease, background-color 0.3s ease,
      border-color 0.3s ease;
  }

  #filterIcon {
    transition: transform 0.3s ease;
  }
</style>

<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="card mt-2 mb-2">
  <div class="card-header justify-content-end d-flex">
    <button
      id="filterToggleBtn"
      class="btn btn-outline-danger"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#filterCollapse"
      aria-expanded="true"
      aria-controls="filterCollapse">
      <i id="filterIcon" class="fa-solid fa-filter-circle-xmark"></i>
    </button>
  </div>
  <div id="filterCollapse" class="collapse show">
    <div class="card-body">
      <form id="filterForm" class="form-row justify-content-center">
        <div class="form-group col-md-2 col-sm-6 col-4 text-center">
          <div class="row">
            <div
              class="col-md-12 d-flex align-items-center justify-content-center">
              <small class="form-text text-muted mb-0 me-2"
                >Filtrar por Área</small
              >
              <span class="badge bg-info" id="badge_info_lines"
                ><i class="fa-solid fa-info-circle"></i
              ></span>
            </div>
          </div>

          <select
            name="filter_area"
            id="filter_area"
            class="form-control"
            required>
            <option value="">Selecione a Área</option>
          </select>
        </div>

        <div class="form-group col-md-3 col-sm-6 col-5 text-center">
          <small class="form-text text-muted">Intervalo de Datas</small>
          <input
            type="text"
            id="date_range"
            class="form-control"
            placeholder="Selecione o intervalo de datas" />
        </div>

        <input
          type="hidden"
          id="start_date"
          name="start_date"
          value="{{ start_date }}" />
        <input
          type="hidden"
          id="end_date"
          name="end_date"
          value="{{ end_date }}" />

        <div class="form-group col-md-2 col-sm-6 col-4 text-center">
          <small class="form-text text-muted">Turno</small>
          <select
            name="filter_shift"
            id="filter_shift"
            class="form-control"
            required>
            <option value="">Selecione o Turno</option>
            <option value="">Todos os turnos</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
        </div>

        <div
          class="form-group col-md-2 col-sm-6 d-flex align-items-end justify-content-center">
          <button type="submit" class="btn btn-primary mr-2">
            <i class="fas fa-filter"></i> Filtrar
          </button>
          <a href="/analytics_per_area" class="btn btn-danger">Limpar</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        <strong>Média</strong> de Tempo de Resposta (<strong>MWT</strong>)
      </div>
      <div class="card-body">
        <div id="mediaResponseTimeChart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        <strong>Média</strong> de Tempo de Resolução (<strong>MTTR</strong>)
      </div>
      <div class="card-body">
        <div id="averageResolutionTimeChart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        <strong>Média</strong> de Tempo com Máquina Parada
        (<strong>MDT</strong>)
      </div>
      <div class="card-body">
        <div id="averageStoppedMachineTimeChart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        <strong>Média</strong> de Tempo entre Avarias (<strong>MTBF</strong>)
      </div>
      <div class="card-body">
        <div id="averageTimeBetweenFailuresChart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        Pareto de Tempo de Manutenção (por Modo de Falha)
      </div>
      <div class="card-body">
        <div id="paretoChart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        Pareto de Tempo de Manutenção (por Tipologia)
      </div>
      <div class="card-body">
        <div id="paretoChartTipologia"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">Tempo de Manutenção (Não Impactou Produção)</div>
      <div class="card-body">
        <div id="interventionChartNotStopped"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">Tempo de Manutenção (Impactou Produção)</div>
      <div class="card-body">
        <div id="interventionChartStopped"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        Tempo em Manutenção por Equipamento (Impactou Produção)
      </div>
      <div class="card-body">
        <div id="equipmentPieChart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        Evolução do Tempo (minutos) / Número de Manutenções
      </div>
      <div class="card-body">
        <div id="timeEvolutionChart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        Número de Intervenções / Média de Tempo de Resolução (por Técnico)
      </div>
      <div class="card-body">
        <div id="mtInterventions"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card mt-2 mb-2 shadow-lg">
      <div class="card-header">
        Correlação entre o Tempo de Resposta e o Tempo de Resolução das
        Manutenções
      </div>
      <div class="card-body">
        <div id="scatterPlotChart"></div>
      </div>
    </div>
  </div>
</div>

{% include "components/lines_by_area_offcanvas.html" %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script>
  {% include "analytics/js/area/mtbf_per_area.js" %}
  {% include "analytics/js/area/mediaResponseTime_per_area.js" %}
  {% include "analytics/js/area/mediaResolutionTime_per_area.js" %}
  {% include "analytics/js/area/mediaAvariaTime_per_area.js" %}
  {%include "analytics/js/area/total_time_fail_mode_per_area.js"%}
  {%include "analytics/js/area/total_time_typology_per_area.js"%}
  {% include "analytics/js/area/graphicIntervention_per_area.js" %}
  {% include "analytics/js/area/equipmentPieChart_per_area.js" %}
  {% include "analytics/js/area/timeEvolution_per_area.js" %}
  {% include "analytics/js/area/mtInterventions.js" %}
  {% include "analytics/js/area/scatter.js" %}

  function loadArea() {
    $.ajax({
      url: "/api/get_areas",
      method: "GET",
      success: function (data) {
        let areaSelect = $('select[name="filter_area"]');
        areaSelect.empty();
        areaSelect.append('<option value="">Selecione a area</option>');

        data.sort((a, b) => a.area.localeCompare(b.area));

        data.forEach((area) => {
          areaSelect.append(
            `<option value="${area.area}">${area.area}</option>`
          );
        });

        let filterProdLineValue = '{{ request.args.get("filter_area", "") }}';
        if (filterProdLineValue) {
          areaSelect.val(filterProdLineValue);
        }

        let filterShiftValue = '{{ request.args.get("filter_shift", "") }}';
        if (filterShiftValue) {
          $("#filter_shift").val(filterShiftValue);
        }
      },
      error: function () {
        alert("Erro ao carregar as linhas.");
      },
    });
  }

  $(document).ready(function () {
    $("#date_range").daterangepicker({
      locale: {
        format: "YYYY-MM-DD",
        separator: " a ",
        applyLabel: "Aplicar",
        cancelLabel: "Cancelar",
      },
      autoUpdateInput: false,
    });

    $("#date_range").on("apply.daterangepicker", function (ev, picker) {
      let start = picker.startDate.format("YYYY-MM-DD");
      let end = picker.endDate.format("YYYY-MM-DD");
      $(this).val(start + " a " + end);
      $("#start_date").val(start);
      $("#end_date").val(end);
    });

    $("#date_range").on("cancel.daterangepicker", function (ev, picker) {
      $(this).val("");

      $("#start_date").val("");
      $("#end_date").val("");
    });

    loadArea();
    $("#accordionSidebar").addClass("toggled");

    $("#filterForm").on("submit", function (e) {
      e.preventDefault();

      loadMTBFByEquipmentChart();
      loadResponseTimeChart();
      loadAverageStoppedMachineTimeChart();
      loadAverageResolutionTimeChart();
      loadParetoChart();
      loadParetoChartTipologia();
      loadInterventionChart("Sim", "interventionChartStopped");
      loadInterventionChart("Não", "interventionChartNotStopped");
      loadEquipmentPieChart();
      loadTimeEvolutionChart();
      loadTechnicianInterventionsChart();
      loadScatterPlotChart();
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const filterCollapse = document.getElementById("filterCollapse");
    const filterToggleBtn = document.getElementById("filterToggleBtn");
    const filterIcon = document.getElementById("filterIcon");

    document.getElementById("badge_info_lines").addEventListener("click", showLines);

    function updateButtonState() {
      if (filterCollapse.classList.contains("show")) {
        filterToggleBtn.classList.remove("btn-outline-success");
        filterToggleBtn.classList.add("btn-outline-danger");
        filterIcon.classList.remove("a-angle-down");
        filterIcon.classList.add("fa-angle-up");
      } else {
        filterToggleBtn.classList.remove("btn-outline-danger");
        filterToggleBtn.classList.add("btn-outline-success");
        filterIcon.classList.remove("fa-angle-up");
        filterIcon.classList.add("fa-angle-down");
      }
    }

    filterCollapse.addEventListener("shown.bs.collapse", updateButtonState);
    filterCollapse.addEventListener("hidden.bs.collapse", updateButtonState);

    updateButtonState();
  });

  {% include "utils/javascript/showLines.js" %}
</script>
{% endblock %}
