<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Title -->
    <title>Logística Interna</title>
    <meta http-equiv="refresh" content="300">
    <!-- ICON -->
    <link rel="icon" type="image/ico" href="static/content/icon.PNG">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link href="static/content/css/styles.css" rel="stylesheet" />
    <script src="static/scripts/js/scripts.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.6.4.js'></script>
    <style type="text/css">
    #colournav {


        background-image: url(static/content/gradient2.png);
        background-position: center;
        background-size: 100%;
    }

    #sidenavAccordion {
        background-image: url(static/content/gradiente1.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 220px;
        margin-right: 10px;
        text-align: center;

    }

    #layoutSidenav_content {
        overflow-y: hidden;
    }

    .nav {

        background-color: solid #F2F0EB;


    }

    #cards {
        margin: 5px;

    }

    #coisas_do_card {
        margin: 5px;
        border-radius: 2px;
        background: ghostwhite;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }
    </style>
</head>

<body class="sb-nav-fixed" style="font-size:13px">
    <nav class="sb-topnav navbar navbar-expand" id="colournav">
        <img src="static/content/logo_new_white.png" style="height: 25px; margin-top: 5px; margin-left: 10px;" />
        <a class="navbar-brand ps-3" href="/" style="color: white;padding-top: 15px;margin-left: 40px;text-align: left ">
            <h4>Logística Interna</h4>
        </a>
    </nav>
    <div class="container.fluid" style="margin-top:55px">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" id="coisas_do_card">
                    <div class="card-header">
                        <h4><strong>Transportes na Portaria</strong></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm ">
                            <thead>
                                <tr>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Matrícula</th>
                                    <!--th scope="col">Motorista</th-->
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Entrada</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Tempo espera</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>{% for row in dashboard_armazem_aguarda_portaria_data %}
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <td>{{row.3}}</td>
                                    <td>{{row.4}}</td>
                                    {% if row.5 > 90 %}
                                    <td>{{row.6}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.5}} min</td>
                                    {% elif row.5 > 60 %}
                                    <td>{{row.6}}</td>
                                    <td style="background-color:#f8f8d2; color:black">{{row.5}} min</td>
                                    {% else %}
                                    <td>{{row.6}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.5}} min</td>
                                    {% endif %}
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card" id="coisas_do_card">
                    <div class="card-header">
                        <h4><strong>Transportes Gabinete Armazém</strong></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm ">
                            <thead>
                                <tr>
                                    <th scope="col">Local</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Matrícula</th>
                                    <!--th scope="col">Motorista</th-->
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Tempo espera</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>{% for row in dashboard_armazem_aguarda_registo_armazem %}
                                    {% if row.4 == 2 %}
                                    <td>Cais 1</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if row.4 == 3 %}
                                    <td>Cais 2</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if row.4 == 4 %}
                                    <td>Cais 3</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if row.4 == 5 %}
                                    <td>Cais 4</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if row.4 == 6 %}
                                    <td>Cais 5</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if row.4 == 7 %}
                                    <td>Cais Lateral</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if row.4 == 8 %}
                                    <td>Área Exterior</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if row.4 == 9 %}
                                    <td>Área Tubos 6 metros</td>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <!--td>{{row.2}}</td-->
                                    <td>{{row.3}}</td>
                                    {% if row.4 > 20 %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#f8d2d2; color:black">{{row.4}} min</td>
                                    {% else %}
                                    <td>{{row.7}}</td>
                                    <td style="background-color:#d2f8d2; ">{{row.4}} min</td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" id="coisas_do_card">
                    <div class="card-header">
                        <h4><strong>Estado dos Cais</strong></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-md ">
                            <thead>
                                <tr>
                                    <th scope="col">Local</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Matrícula</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Tempo em Trabalho (min)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cais 1</td>
                                    <td>{{dashboard_nivel_6[0][0]}}</td>
                                    <td>{{dashboard_nivel_6[0][1]}}</td>
                                    <td>{{dashboard_nivel_6[0][2]}}</td>
                                    {% if dashboard_nivel_6[0][3] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][3] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][3] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][3] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][4] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][4]}} min </td>
                                    {% elif dashboard_nivel_6[0][4] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][4]}} min </td>
                                    {% elif dashboard_nivel_6[0][4] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][4] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][4]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td>Cais 2</td>
                                    <td>{{dashboard_nivel_6[0][5]}}</td>
                                    <td>{{dashboard_nivel_6[0][6]}}</td>
                                    <td>{{dashboard_nivel_6[0][7]}}</td>
                                    {% if dashboard_nivel_6[0][8] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][8] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][8] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][8] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][9] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][9]}} min </td>
                                    {% elif dashboard_nivel_6[0][9] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][9]}} min </td>
                                    {% elif dashboard_nivel_6[0][9] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][9] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][9]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td>Cais 3</td>
                                    <td>{{dashboard_nivel_6[0][10]}}</td>
                                    <td>{{dashboard_nivel_6[0][11]}}</td>
                                    <td>{{dashboard_nivel_6[0][12]}}</td>
                                    {% if dashboard_nivel_6[0][13] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][13] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][13] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][13] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][14] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][14]}} min </td>
                                    {% elif dashboard_nivel_6[0][14] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][14]}} min </td>
                                    {% elif dashboard_nivel_6[0][14] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][14] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][14]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td>Cais 4</td>
                                    <td>{{dashboard_nivel_6[0][15]}}</td>
                                    <td>{{dashboard_nivel_6[0][16]}}</td>
                                    <td>{{dashboard_nivel_6[0][17]}}</td>
                                    {% if dashboard_nivel_6[0][18] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][18] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][18] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][18] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][19] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][19]}} min </td>
                                    {% elif dashboard_nivel_6[0][19] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][19]}} min </td>
                                    {% elif dashboard_nivel_6[0][19] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][19] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][19]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td>Cais 5</td>
                                    <td>{{dashboard_nivel_6[0][20]}}</td>
                                    <td>{{dashboard_nivel_6[0][21]}}</td>
                                    <td>{{dashboard_nivel_6[0][22]}}</td>
                                    {% if dashboard_nivel_6[0][23] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][23] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][23] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][23] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][24] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][24]}} min </td>
                                    {% elif dashboard_nivel_6[0][24] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][24]}} min </td>
                                    {% elif dashboard_nivel_6[0][24] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][24] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][24]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td>Cais Lateral</td>
                                    <td>{{dashboard_nivel_6[0][25]}}</td>
                                    <td>{{dashboard_nivel_6[0][26]}}</td>
                                    <td>{{dashboard_nivel_6[0][27]}}</td>
                                    {% if dashboard_nivel_6[0][28] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][28] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][28] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][28] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][29] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][29]}} min </td>
                                    {% elif dashboard_armazem_estado_cais[0][23] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][29]}} min </td>
                                    {% elif dashboard_nivel_6[0][29] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][29] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][29]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td>Área Exterior</td>
                                    <td>{{dashboard_nivel_6[0][30]}}</td>
                                    <td>{{dashboard_nivel_6[0][31]}}</td>
                                    <td>{{dashboard_nivel_6[0][32]}}</td>
                                    {% if dashboard_nivel_6[0][33] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][33] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][33] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][33] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][34] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][34]}} min </td>
                                    {% elif dashboard_nivel_6[0][34] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][34]}} min </td>
                                    {% elif dashboard_nivel_6[0][34] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][34] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][34]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td>Área Tubos 6 metros</td>
                                    <td>{{dashboard_nivel_6[0][35]}}</td>
                                    <td>{{dashboard_nivel_6[0][36]}}</td>
                                    <td>{{dashboard_nivel_6[0][37]}}</td>
                                    {% if dashboard_nivel_6[0][38] == '' %}
                                    <td></td>
                                    {% elif dashboard_nivel_6[0][38] == '1' %}
                                    <td>Aguarda Registo</td>
                                    {% elif dashboard_nivel_6[0][38] == '2' %}
                                    <td>Em trabalho</td>
                                    {% elif dashboard_nivel_6[0][38] == '3' %}
                                    <td>Aguarda validação Portaria</td>
                                    {% else %}
                                    <td>Nada registado</td>
                                    {% endif %}
                                    {% if dashboard_nivel_6[0][39] > 90 %}
                                    <td style="background-color:#f8d2d2; color:black">{{dashboard_nivel_6[0][39]}} min </td>
                                    {% elif dashboard_nivel_6[0][39] > 75 %}
                                    <td style="background-color:#f8f8d2; color:black">{{dashboard_nivel_6[0][39]}} min </td>
                                    {% elif dashboard_nivel_6[0][39] == 0 %}
                                    <td> </td>
                                    {% elif dashboard_nivel_6[0][39] < 75 %} <td style="background-color:#d2f8d2; color:black">{{dashboard_nivel_6[0][39]}} min </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card" id="coisas_do_card">
                    <div class="card-header">
                        <h4><strong>Visão Geral do Dia</strong> <a data-toggle="modal" data-target="#ver_detalhes" class="stretched-link"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-md ">
                            <thead>
                                <tr>
                                    <h4><strong>Transportes Recusados</strong></h4>
                                </tr>
                                <tr>
                                    <th scope="col" style="background-color: #f8d2d2">Empresa</th>
                                    <th scope="col" style="background-color: #f8d2d2">Motivo</th>
                                    <th scope="col" style="background-color: #f8d2d2">Tipo</th>
                                    <th scope="col" style="background-color: #f8d2d2">Cliente</th>
                                    <th scope="col" style="background-color: #f8d2d2">Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>{% for row in dashboard_armazem_recusas %}
                                    <td style="background-color: #f8d2d2">{{row.0}}</td>
                                    {% if row.1 == '' %}
                                    <td style="background-color: #f8d2d2">{{row.2}}</td>
                                    <td style="background-color: #f8d2d2">{{row.4}}</td>
                                    <td style="background-color: #f8d2d2">{{row.5}}</td>
                                    <td style="background-color: #f8d2d2">{{row.3}}</td>
                                    {% elif row.2 == '' %}
                                    <td style="background-color: #f8d2d2"> {{row.1}}</td>
                                    <td style="background-color: #f8d2d2">{{row.4}}</td>
                                    <td style="background-color: #f8d2d2">{{row.5}}</td>
                                    <td style="background-color: #f8d2d2">{{row.3}}</td>
                                    {% else %}
                                    <td>Sem motivo</td>
                                    <td style="background-color: #f8d2d2">{{row.4}}</td>
                                    <td style="background-color: #f8d2d2">{{row.5}}</td>
                                    <td style="background-color: #f8d2d2">{{row.3}}</td>
                                    {% endif %}
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-md ">
                            <thead>
                                <tr>
                                    <h4><strong>Transportes Realizados</strong></h4>
                                </tr>
                                <tr>
                                    <th scope="col" style="background-color: #d2e5f8;font-size: 22px; text-align: center;">Carga</th>
                                    <th scope="col" style="background-color: #d2e5f8;font-size: 22px; text-align: center;">Descarga</th>
                                    <th scope="col" style="background-color: #d2e5f8;font-size: 22px; text-align: center;">Descarga + Carga</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>{% for row in dashboard_armazem_contagem %}
                                    <td style="font-size: 30px;text-align:center;background-color: #d2e5f8">{{row.0}} </td>
                                    <td style="font-size: 30px;text-align:center;background-color: #d2e5f8">{{row.1}} </td>
                                    <td style="font-size: 30px;text-align:center;background-color: #d2e5f8">{{row.2}} </td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ver_detalhes" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Detalhe geral do dia</h4>
                    </div>
                    <div class="modal-body">
                        <table id="table" class="table table-striped " data-search="true" data-toggle="table" data-show-export="false" data-show-columns="false" data-show-multi-sort="false" data-pagination="true" data-toolbar="#toolbar" data-show-toggle="true" data-resizable="false">
                            <thead id="box" class="bg-light">
                                <tr>
                                    <th data-field="2" data-sortable="true" scope="col">Empresa</th>
                                    <th data-field="3" data-sortable="true" scope="col">Matricula</th>
                                    <th data-field="4" data-sortable="true" scope="col">Tipo</th>
                                    <th data-field="5" data-sortable="true" scope="col">Entrada</th>
                                    <th data-field="6" data-sortable="true" scope="col">Destino</th>
                                    <th data-field="7" data-sortable="true" scope="col">Cliente</th>
                                    <th data-field="8" data-sortable="true" scope="col">Fornecedor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr> {% for row in dashboard_nivel_7 %}
                                    <td>{{row.1}}</td>
                                    <td>{{row.2}}</td>
                                    <td>{{row.3}}</td>
                                    <td>{{row.4}}</td>
                                    <td>{{row.5}}</td>
                                    <td>{{row.6}}</td>
                                    {% if row.7 != '' %}
                                    <td><a href="/get_info{{row.0}}" class="btn btn-primary" style="background-color: #007dc3;border-color:#007dc3;" data-toggle="modal" data-target="#get_info{{row.0}}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
                                    {% else %}
                                    <td>Não tem Fornecedor</td>
                                    {% endif %}
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" style="background-color: grey; color:white" data-dismiss="modal">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
        {% for row in dashboard_nivel_7 %}
        <div class="modal fade" id="get_info{{row.0}}" role="dialog">
            <div class="modal-dialog  modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Fornecedores</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Tem guia ?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if row.7 != '' %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{row.7}}</td>
                                        <td>{{row.8}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.9 != '' %}
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>{{row.9}}</td>
                                        <td>{{row.10}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.11 != '' %}
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>{{row.11}}</td>
                                        <td>{{row.12}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}


                                    {% if row.13 != '' %}
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>{{row.13}}</td>
                                        <td>{{row.14}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.15 != '' %}
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>{{row.15}}</td>
                                        <td>{{row.16}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.17 != '' %}
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>{{row.17}}</td>
                                        <td>{{row.18}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.19 != '' %}
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>{{row.19}}</td>
                                        <td>{{row.20}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.21 != '' %}
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>{{row.21}}</td>
                                        <td>{{row.22}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.23 != '' %}
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>{{row.23}}</td>
                                        <td>{{row.24}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.25 != '' %}
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>{{row.25}}</td>
                                        <td>{{row.26}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.26 != '' %}
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>{{row.26}}</td>
                                        <td>{{row.27}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.28 != '' %}
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>{{row.28}}</td>
                                        <td>{{row.29}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.30 != '' %}
                                    <tr>
                                        <th scope="row">13</th>
                                        <td>{{row.30}}</td>
                                        <td>{{row.31}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.32 != '' %}
                                    <tr>
                                        <th scope="row">14</th>
                                        <td>{{row.32}}</td>
                                        <td>{{row.33}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.34 != '' %}
                                    <tr>
                                        <th scope="row">15</th>
                                        <td>{{row.34}}</td>
                                        <td>{{row.35}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.36 != '' %}
                                    <tr>
                                        <th scope="row">16</th>
                                        <td>{{row.36}}</td>
                                        <td>{{row.37}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.38 != '' %}
                                    <tr>
                                        <th scope="row">17</th>
                                        <td>{{row.38}}</td>
                                        <td>{{row.39}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.40 != '' %}
                                    <tr>
                                        <th scope="row">18</th>
                                        <td>{{row.40}}</td>
                                        <td>{{row.41}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.42 != '' %}
                                    <tr>
                                        <th scope="row">19</th>
                                        <td>{{row.42}}</td>
                                        <td>{{row.43}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}

                                    {% if row.44 != '' %}
                                    <tr>
                                        <th scope="row">20</th>
                                        <td>{{row.44}}</td>
                                        <td>{{row.45}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" style="background-color: grey; color:white" data-dismiss="modal">Voltar</button>
                    </div>
                </div>
            </div>
            </div-->
            <div class="row">
                <div class="col-12 col-md-6">
                </div>
            </div>
        </div>
        {% endfor %}
        <script type="text/javascript">
        var span = document.getElementById('span');

        function time() {
            var d = new Date();
            var s = d.getSeconds();
            var m = d.getMinutes();
            var h = d.getHours();
            span.textContent =
                ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }

        setInterval(time, 1000);
        </script>
</body>

</html>