{% extends 'armazem/homepage_armazem_new.html' %}
{% block content %}

<head>
    <link href="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .full-height {
            height: 100%;
        }
        .flex-column {
            display: flex;
            flex-direction: column;
        }
        .flex-grow {
            flex-grow: 1;
        }
        .flex-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .flex-container a {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0; 
            text-align: center;
            min-height: 2vh; 
        }

        .badge {
            width: 100%;
        }

        .pdf-container {
            width: 100%;
            height: 100vh; 
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .pdf-container object {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container.fluid">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row full-height">
                    <div class="col flex-column">
                        <div class="card shadow flex-grow mb-3">
                            <div class="card-header text-center">
                                <h3>Em Preparação</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable-prepare" width="100%" cellspacing="0" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th>Guia</th>
                                                <th>Referência</th>
                                                <th>Cliente</th>
                                                <th>Fábrica</th>
                                                <th>Qtd.</th>
                                                <th>Data</th>
                                                <th>Horário</th>
                                                <th>Urgente</th>
                                                <th>Gama</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody style="color:black;">
                                            {% for row in GetIdTransportPreparation %}
                                            <tr >
                                                <td style="white-space: nowrap;">{{row.18}}</td>
                                                <td>{{row.4}}</td>
                                                <td>{{row.5}}</td>
                                                <td>{{row.6}}</td>
                                                <td>{{row.8}}- {{row.7}}</td>
                                                <td style="white-space: nowrap;">{{row.11}}</td>
                                                <td style="white-space: nowrap;">{{row.29}}-{{row.30}}</td>
                                                {% if row.47 == '0' %}
                                                <td style="white-space: nowrap;">Não</td>
                                                {% else %}
                                                <td style="white-space: nowrap;">Sim</td>
                                                {% endif %}
                                                {% if row.48 %}
                                                <td style="white-space: nowrap;"><a href="{{ row.48 }}" target="_blank"class="btn btn-success"><i style="color: white;" class="fa fa-link"></i></a></td>
                                                {% else %}
                                                <td style="white-space: nowrap;"><a href="" class="btn btn-secondary disabled"><i style="color: white;" class="fa fa-link"></i></a></td>
                                                {% endif %}
                                                <td style="white-space: nowrap;"><a data-toggle="modal" data-target="#dar_entrada_carga{{row.0}}" class="btn btn-secondary"><i style="color: white;" class="fa fa-chevron-right"></i></a> <a href="change_state_prepare_to_picking/{{row.0}}" class="btn btn-secondary"><i style="color: white;" class="fa fa-times"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                            {% for row in GetIdTransportPreparation %}
                                            <div class="modal fade" id="dar_entrada_carga{{row.0}}" role="dialog">
                                                <div class="modal-dialog modal-md">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Registar quantidade Paletes</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="change_state_prepare_to_finish/{{row.0}}" method="POST">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Quantidade Paletes</label>
                                                                            <div>
                                                                                <input type="number" class="form-control" id="quantity" name="quantity" required placeholder="Quantidade" step="1" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <button type="submit" class="btn btn-primary ">Registar quantidade</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow flex-grow">
                            <div class="card-header text-center">
                                <h3>Pickings</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable-pickings" width="100%" cellspacing="0" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th>Guia</th>
                                                <th>Referência</th>
                                                <th>Cliente</th>
                                                <th>Fábrica</th>
                                                <th>Qtd.</th>
                                                <th>Data</th>
                                                <th>Horário</th>
                                                <th>Urgente</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody style="color:black;">
                                            {% for row in GetIdTransportpicking %}
                                            <tr>
                                                <td style="white-space: nowrap;">{{row.18}}</td>
                                                <td>{{row.4}}</td>
                                                <td>{{row.5}}</td>
                                                <td>{{row.6}}</td>
                                                <td>{{row.8}}</td>
                                                <td style="white-space: nowrap;">{{row.11}}</td>
                                                <td style="white-space: nowrap;">{{row.29}}-{{row.30}}</td>
                                                {% if row.47 == '0' %}
                                                <td style="white-space: nowrap;">Não</td>
                                                {% else %}
                                                <td style="white-space: nowrap;background-color: #f8d2d2;">Sim</td>
                                                {% endif %}
                                                
                                                <td style="white-space: nowrap;"><a href="change_state_picking_to_prepare/{{row.0}}" class="btn btn-secondary"><i style="color: white;" class="fa fa-chevron-up"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow flex-grow">
                    <div class="card-header text-center">
                        <h3>Finalizado</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-responsive" style="font-size: 11px;height: 650px;">
                                <thead>
                                    <tr>
                                        <th>Guia</th>
                                        <th>Referência</th>
                                        <th>Cliente</th>
                                        <th>Qtd.</th>
                                        <th>Qtd. Pallets</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in GetIdTransportFinish %}
                                    <tr>
                                        <td style="white-space: nowrap; text-align: center;">{{row.18}}</td>
                                        <td style="text-align: center;">{{row.4}}</td>
                                        <td style="text-align: center;">{{row.5}}</td>
                                        <td style="text-align: center;">{{row.6}}</td>
                                        <td style="text-align: center;">{{row.44}}</td>
                                        <td style="white-space: nowrap;"><a href="change_state_finish_to_prepare/{{row.0}}" class="btn btn-secondary"><i style="color: white;" class="fa fa-times"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true,category_filter=["error","info","success","warning"]) %}
                {% if messages %}
                {% for category,message in messages %}
                {% if category == 'warning' %}
                <div class="alert alert-warning mt-2" role="alert">
                    <span>{{ message }}</span>
                    <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif category == 'info' %}
                <div class="alert alert-info mt-2" role="alert">
                    <span>{{ message }}</span>
                    <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif category == 'success' %}
                <div class="alert alert-success mt-2" role="alert">
                    <span>{{ message }}</span>
                    <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif category == 'error' %}
                <div class="alert alert-danger mt-2" role="alert">
                    <span>{{ message }}</span>
                    <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewpdfmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal PDF</h1>
                </div>
                <div class="modal-body">
                    <div class="pdf-container">
                        <object data="static/content/teste.pdf" type="application/pdf">
                            <p>Seu navegador não tem um plugin pra PDF</p>
                        </object>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Inclua o JavaScript do jQuery primeiro -->
    <script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
    <script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugins -->
    <script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="static/plat_static/js/demo/datatables-demo.js"></script>
    <!-- Inicialize as tabelas DataTables -->
    <script>
    $(document).ready(function() {
        $('#dataTable-prepare').DataTable({ "order": []});
        $('#dataTable-pickings').DataTable({ "order": [], "pageLength": 40 });
        $('#dataTable-finnish').DataTable({ "order": [], "pageLength": 20 });
    });
    </script>
</body>
{% endblock %}