{% extends 'components/sidebar.html' %} {% block content %}

<div class="sidebar-heading mt-2" style="color: #2cedd4">Preventivas</div>
<li class="nav-item">
  <a class="nav-link collapsed" href="/preventive">
    <span>Pendentes / Em Curso</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link collapsed" href="/finished_preventives">
    <span>Concluídas</span>
  </a>
</li>

<div class="sidebar-heading mt-2" style="color: #2cedd4">Mapa Geral</div>

<li class="nav-item">
  <a class="nav-link collapsed" href="/mapa_por_equipamento">
    <span>Mapa por equipamentos</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link collapsed" href="/mapa_por_linha">
    <span>Mapa por linha</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/out">
    <i class="fas fa-sign-out-alt" style="color: #2cedd4"></i>
    <span>Sair</span>
  </a>
</li>
{% endblock %}
