{% extends 'corrective/corrective.html' %} {% block content %}

<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <h5 class="text-center">Corrective Maintenance Comments</h5>
    <form
      method="GET"
      action="/corrective_comments"
      class="form-row justify-content-center">
      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Linha de Produção</small>
        <input
          type="text"
          name="filter_prod_line"
          class="form-control"
          placeholder="Linha de Produção"
          value="{{ filter_prod_line }}" />
      </div>

      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Data inicial</small>
        <input
          type="date"
          name="start_date"
          class="form-control"
          value="{{ start_date }}" />
      </div>
      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Data final</small>
        <input
          type="date"
          name="end_date"
          class="form-control"
          value="{{ end_date }}" />
      </div>
      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Itens por página</small>
        <input
          type="number"
          name="page_size"
          class="form-control"
          value="{{ request.args.get('page_size', 10) }}"
          min="1"
          max="100"
          placeholder="Itens por página" />
      </div>
      <div
        class="form-group table-responsive d-flex align-items-end justify-content-center">
        <button type="submit" class="btn btn-primary mr-2">
          <i class="fas fa-filter"></i> Filtrar
        </button>
        <a href="/corrective_comments" class="btn btn-danger">Limpar</a>
      </div>
    </form>
  </div>

  <div class="card-body table-responsive">
    {% if comments|length == 0 %}
    <p class="text-center">Sem Comentários de Manutenção</p>
    {% else %}
    <table class="table table-striped mt-2">
      <thead>
        <tr>
          <th>ID</th>
          <th>Linha</th>
          <th>Técnico</th>
          <th>Comentário</th>
          <th>Duração (min)</th>
          <th>Tipo de Avaria</th>
          <th>Data Início Manutenção</th>
          <th>Data Fim Manutenção</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in comments %}
        <tr>
          <td>{{ comment.id_corretiva }}</td>
          <td>{{ comment.prod_line }}</td>
          <td>{{ comment.tecnico_nome }} - {{ comment.n_tecnico }}</td>
          <td>
            <textarea rows="3" cols="40" readonly>
{{ comment.maintenance_comment }}</textarea
            >
          </td>

          <td>{{ comment.duracao_intervencao }}</td>
          <td>{{ comment.tipo_avaria }}</td>
          <td class="data">{{ comment.data_inicio_man }}</td>
          {% if comment.data_fim_man %}
          <td class="data">{{ comment.data_fim_man }}</td>
          {% else %}
          <td>
            <span class="text-muted">Manutenção em Curso</span>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "components/pagination.html" %} {% endif %}
  </div>
</div>
{% endblock %}
