<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/plat_static/css/sb-admin-2.min.css" />
    <link rel="icon" type="image/ico" href="static/initial_page/img/icon.PNG" />
    <title>Corrective Maintenance</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />

    <link rel="stylesheet" href="static/initial_page/css/all.min.css" />

    <link rel="stylesheet" href="static/initial_page/css/bootstrap.min.css" />

    <link rel="stylesheet" href="static/initial_page/css/tooplate-style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet" />
  </head>

  <style>
    body:not(.sidebar-toggled) .topbar {
      display: none;
    }

    body.sidebar-toggled .topbar {
      display: block;
    }

    td {
      font-size: 0.91rem;
    }
  </style>

  <body id="page-top">
    <div id="wrapper">
      {% include 'corrective/components/sidebar_links.html' %}

      <div id="content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand navbar-light topbar static-top">
          <button
            id="sidebarToggleTop"
            class="btn d-md-none rounded-circle mr-1">
            <i class="fa fa-bars" style="color: #051729"></i>
          </button>
        </nav>
        {% if not session['username'] %}
        <div class="alert alert-warning text-center">
          Por favor, faça login para realizar manutenções.
        </div>
        {% endif %}
        <div id="content">
          <div class="container-fluid">{% block content %} {% endblock %}</div>
        </div>
        {% include "components/footer.html" %}
      </div>
    </div>

    {% include "components/modalCorrectiveMaintenace.html" %} {% include
    "corrective/components/createOrderModal.html" %} {% include
    'corrective/components/loginModal.html' %}

    <script src="static/plat_static/js/sb-admin-2.min.js"></script>
    <script src="static/initial_page/js/jquery.singlePageNav.min.js"></script>

    <script src="static/initial_page/js/jquery.singlePageNav.min.js"></script>
    <script src="static/initial_page/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const modalLogin = document.getElementById("modalLogin");
        const inputCard = document.getElementById("card_num");

        if (modalLogin && inputCard) {
          $(modalLogin).on("shown.bs.modal", function () {
            inputCard.focus();
          });
        }

        function toggleSidebarClass() {
          const body = document.body;
          if (window.innerWidth <= 768) {
            body.classList.add('sidebar-toggled');
          } else {
            body.classList.remove('sidebar-toggled');
          }
        }
        toggleSidebarClass();

        window.addEventListener('resize', toggleSidebarClass);
      });

      document.getElementById('sidebarToggleTop').addEventListener('click', function () {
        document.body.classList.toggle('sidebar-toggled');
      });

      {% if session['username']%}
        {% include "corrective/js/checkComments.js" %}
      {% endif %}
      {% include "utils/javascript/maintenances.js" %}
      {% include "utils/javascript/formatDate.js" %}
      {% include "utils/javascript/charCount.js" %}
      {% include "utils/javascript/tipos_avaria.js" %}
      {% include "corrective/js/login.js" %}
    </script>
  </body>
</html>
