<!-- templates/corrective/corrective.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/plat_static/css/sb-admin-2.min.css" />
    <title>Corrective Maintenance</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />

    <link rel="stylesheet" href="static/initial_page/css/all.min.css" />

    <link rel="stylesheet" href="static/initial_page/css/bootstrap.min.css" />

    <link rel="stylesheet" href="static/initial_page/css/tooplate-style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
  </head>
  <body id="page-top">
    <div id="wrapper">
      {% include 'corrective/sidebar_links.html' %}

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid">{% block content %} {% endblock %}</div>
        </div>
        {% include "components/footer.html" %}
      </div>
    </div>

    {% include "components/modalCorrectiveMaintenace.html" %}
    <script src="static/plat_static/js/sb-admin-2.min.js"></script>
    <script src="static/initial_page/js/jquery.singlePageNav.min.js"></script>

    <script src="static/initial_page/js/jquery.singlePageNav.min.js"></script>
    <script src="static/initial_page/js/bootstrap.min.js"></script>
    <script>
      {% include "utils/javascript/maintenances.js" %}
      {% include "utils/javascript/formatDate.js" %}

      document.addEventListener('DOMContentLoaded', () => {
        const dateCells = document.querySelectorAll('.data');
        dateCells.forEach(cell => {
          cell.textContent = formatDateTime(cell.textContent);
        });
      });
    </script>
  </body>
</html>
