{% extends 'corrective/corrective.html' %} {% block content %}
<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <div class="d-flex justify-content-start align-items-center mb-3">
      <h5 class="m-0 text-center col-lg-12">Corrective Maintenance Finished</h5>
    </div>

    <form
      method="GET"
      action="/finished"
      class="form-row justify-content-center">
      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted">Filtrar por equipamento</small>
        <input
          type="text"
          name="filter"
          class="form-control"
          placeholder="Equipamento"
          value="{{ request.args.get('filter', '') }}" />
      </div>

      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted"
          >Filtrar por linha de produção</small
        >
        <input
          type="text"
          name="filter_prod_line"
          class="form-control"
          placeholder="Linha de Produção"
          value="{{ request.args.get('filter_prod_line', '') }}" />
      </div>

      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted">Data inicial</small>
        <input
          type="date"
          name="start_date"
          class="form-control"
          value="{{ request.args.get('start_date', '') }}" />
      </div>

      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted">Data final</small>
        <input
          type="date"
          name="end_date"
          class="form-control"
          value="{{ request.args.get('end_date', '') }}" />
      </div>

      <div class="form-group col-md-1 text-center">
        <small class="form-text text-muted">Itens por página</small>
        <input
          type="number"
          name="page_size"
          class="form-control"
          value="{{ request.args.get('page_size', 10) }}"
          min="1"
          max="100"
          placeholder="Itens por página" />
      </div>

      <div
        class="form-group col-md-3 d-flex align-items-end justify-content-center">
        <button type="submit" class="btn btn-primary mr-2">
          <i class="fas fa-filter"></i> Filtrar
        </button>
        <a href="/finished" class="btn btn-danger">Limpar</a>
      </div>
    </form>
  </div>

  <div class="card-body">
    {% if finished|length == 0 %}
    <p class="text-center">Sem Pedidos de Manutenção Concluídos</p>
    {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID Corretiva</th>
          <th>Linha de Produção</th>
          <th>Nº do Operador</th>
          <th>Nº do Técnico</th>
          <th>Descrição</th>
          <th>Tempo de Manutenção (min)</th>
          <th>Equipamento</th>
          <th>Parou Produção?</th>
          <th>Estado SAP</th>
          <th>SMS</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for fini in finished %}
        <tr>
          <td>{{ fini.id_corretiva }}</td>
          <td>{{ fini.prod_line }}</td>
          <td>{{ fini.n_operador }}</td>
          <td>{{ fini.n_tecnico }}</td>
          <td>{{ fini.description }}</td>
          <td>
            {% if fini.tempo_manutencao %} {{ fini.tempo_manutencao }} {% else
            %}
            <span class="text-muted">Sem tempo definido</span>
            {% endif %}
          </td>
          <td>{{ fini.equipament }}</td>
          <td>{{ fini.stopped_production }}</td>
          <td>
            {% if fini.sap_order %} {{ fini.sap_order }} {% else %}
            <span class="text-muted">Aguarda criação</span>
            {% endif %}
          </td>
          <td>
            {% if fini.SMSState == 1 %} Enviado {% else %} Por Enviar {% endif
            %}
          </td>
          <td>
            <button
              class="btn btn-info btn-md"
              data-toggle="modal"
              data-target="#detailsModal"
              data-id="{{ fini.id }}"
              data-description="{{ fini.description }}"
              data-equipament="{{ fini.equipament }}"
              data-functional-location="{{ fini.functional_location }}"
              data-sap-state="{{ fini.SAPState }}"
              data-sms-state="{{ fini.SMSState }}"
              data-sms-date="{{ fini.sms_date }}"
              data-tempo-man="{{ fini.tempo_manutencao }}"
              data-main-workcenter="{{ fini.main_workcenter }}"
              data-inicio-man="{{ fini.data_inicio_man }}"
              data-fim-man="{{ fini.data_fim_man }}"
              data-comment="{{fini.maintenance_comment}}">
              <i class="fas fa-eye"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "components/pagination.html" %} {% endif %}
  </div>
</div>

{% include "corrective/components/detailsModal.html" %} {% include
"corrective/components/finishModal.html" %}

<script>
  {% include "corrective/js/openModal.js" %}
</script>

{% endblock %}
