{% extends 'corrective/corrective.html' %} {% block content %}
<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <div class="d-flex justify-content-start align-items-center mb-3">
      <h5 class="m-0 text-center col-lg-12">Corrective Maintenance Ongoing</h5>
    </div>

    <form method="GET" action="/inwork" class="form-row justify-content-center">
      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted">Filtrar por equipamento</small>
        <input
          type="text"
          name="filter"
          class="form-control"
          placeholder="Equipamento"
          value="{{ request.args.get('filter', '') }}" />
      </div>

      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted"
          >Filtrar por linha de produção</small
        >
        <input
          type="text"
          name="filter_prod_line"
          class="form-control"
          placeholder="Linha de Produção"
          value="{{ request.args.get('filter_prod_line', '') }}" />
      </div>

      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted">Data inicial</small>
        <input
          type="date"
          name="start_date"
          class="form-control"
          value="{{ request.args.get('start_date', '') }}" />
      </div>

      <div class="form-group col-md-2 text-center">
        <small class="form-text text-muted">Data final</small>
        <input
          type="date"
          name="end_date"
          class="form-control"
          value="{{ request.args.get('end_date', '') }}" />
      </div>

      <div class="form-group col-md-1 text-center">
        <small class="form-text text-muted">Itens por página</small>
        <input
          type="number"
          name="page_size"
          class="form-control"
          value="{{ request.args.get('page_size', 10) }}"
          min="1"
          max="100"
          placeholder="Itens por página" />
      </div>

      <div
        class="form-group col-md-3 d-flex align-items-end justify-content-center">
        <button type="submit" class="btn btn-primary mr-2">
          <i class="fas fa-filter"></i> Filtrar
        </button>
        <a href="/inwork" class="btn btn-danger">Limpar</a>
      </div>
    </form>
  </div>

  <div class="card-body">
    {% if ongoing|length == 0 %}
    <p class="text-center">Sem Pedidos de Manutenção Em Curso</p>
    {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ID Corretiva</th>
          <th>Linha de Produção</th>
          <th>Nº do Operador</th>
          <th>Nº do Técnico</th>
          <th>Descrição</th>
          <th>Data de Criação</th>
          <th>Equipamento</th>
          <th>Parou Produção?</th>
          <th>SMS</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for ongo in ongoing %}
        <tr>
          <td>{{ ongo.id }}</td>
          <td>{{ ongo.id_corretiva }}</td>
          <td>{{ ongo.prod_line }}</td>
          <td>{{ ongo.n_operador }}</td>
          <td>{{ ongo.n_tecnico }}</td>
          <td>{{ ongo.description }}</td>
          <td class="data">{{ ongo.data_pedido }}</td>
          <td>{{ ongo.equipament }}</td>
          <td>{{ ongo.stopped_production }}</td>
          <td>
            {% if ongo.SMSState == 1 %} Enviado {% else %} Por Enviar {% endif
            %}
          </td>
          <td>
            <button
              class="btn btn-info btn-md"
              data-toggle="modal"
              data-target="#detailsModal"
              data-id="{{ ongo.id }}"
              data-description="{{ ongo.description }}"
              data-equipament="{{ ongo.equipament }}"
              data-functional-location="{{ ongo.functional_location }}"
              data-sap-state="{{ ongo.SAPState }}"
              data-sms-state="{{ ongo.SMSState }}"
              data-sms-date="{{ ongo.sms_date }}"
              data-main-workcenter="{{ ongo.main_workcenter }}">
              <i class="fas fa-eye"></i>
            </button>
            <button
              class="btn btn-warning btn-md"
              data-toggle="modal"
              data-target="#commentsModal"
              data-id="{{ ongo.id_corretiva }}"
              data-description="{{ ongo.description }}"
              data-prod-line="{{ ongo.prod_line }}"
              data-equipament="{{ ongo.equipament }}"
              data-pedido-date="{{ ongo.data_pedido }}">
              <i class="fa-solid fa-users"></i>
            </button>
            <button
              class="btn btn-danger btn-md"
              data-id="{{ ongo.id_corretiva }}"
              data-description="{{ ongo.description }}"
              data-prod-line="{{ ongo.prod_line }}"
              data-equipament="{{ ongo.equipament }}"
              data-pedido-date="{{ ongo.data_pedido }}"
              data-ini-date="{{ ongo.data_inicio_man }}"
              onclick="openFinishModal(this)">
              <i class="fa-regular fa-circle-stop"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "components/pagination.html" %} {% endif %}
  </div>
</div>

{% include "corrective/components/detailsModal.html" %} {% include
"corrective/components/finishModal.html" %} {% include
"corrective/components/commentsModal.html" %}

<script>
  function openFinishModal(button) {
      var id = button.getAttribute("data-id");
      var modal = $("#finishModal");

      $.ajax({
        type: "GET",
        url: "/api/get_tecnicos_associados/" + id,
        success: function (tecnicos) {
          if (tecnicos.length === 1) {
            var tecnico = tecnicos[0];
            var description = button.getAttribute("data-description");
            var equipament = button.getAttribute("data-equipament");
            var pedidoDate = button.getAttribute("data-pedido-date");
            var iniDate = button.getAttribute("data-ini-date");

            modal.find("#modal-id").val(id);
            modal.find("#modal-pedido-date").val(formatDateTime(pedidoDate));
            modal.find("#modal-ini-date").val(formatDateTime(iniDate));
            modal.find("#modal-description").val(description);
            modal.find("#modal-equipament").val(equipament);
            modal.find("#maintenance_comment").val("");
            modal.find("#tecnico-nome").text(tecnico.nome);

            modal.modal("show");
          }
          else if(tecnicos.length < 1) {
            alert(
              "Tem de existir pelo menos um técnico associado para finalizar a manutenção."
            );
          }
          else{
            alert(
              "Apenas um técnico deve estar associado para finalizar a manutenção."
            );
          }
        },
        error: function () {
          alert("Erro ao buscar técnicos associados.");
        },
      });
    }

  {% include "corrective/js/openModal.js" %}
  {% include "corrective/js/comments.js" %}
</script>

{% endblock %}
