{% extends 'corrective/corrective.html' %} {% block content %}
<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <div class="d-flex justify-content-start align-items-center mb-3">
      <h5 class="m-0 text-center col-lg-12">Corrective Maintenance Pending</h5>
    </div>

    <form
      method="GET"
      action="/corrective"
      class="form-row justify-content-center">
      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Equipamento</small>
        <input
          type="text"
          name="filter"
          class="form-control"
          placeholder="Equipamento"
          value="{{ request.args.get('filter', '') }}" />
      </div>

      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Linha de Produção</small>
        <input
          type="text"
          name="filter_prod_line"
          class="form-control"
          placeholder="Linha de Produção"
          value="{{ request.args.get('filter_prod_line', '') }}" />
      </div>

      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Por página</small>
        <input
          type="number"
          name="page_size"
          class="form-control"
          value="{{ request.args.get('page_size', 10) }}"
          min="1"
          max="100"
          placeholder="Itens por página" />
      </div>

      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Data inicial</small>
        <input
          type="date"
          name="start_date"
          class="form-control"
          value="{{ request.args.get('start_date', '') }}" />
      </div>

      <div class="form-group col-md-4 col-sm-6 col-12 text-center">
        <small class="form-text text-muted">Data final</small>
        <input
          type="date"
          name="end_date"
          class="form-control"
          value="{{ request.args.get('end_date', '') }}" />
      </div>

      <div class="form-group col-12 text-center mt-3">
        <button type="submit" class="btn btn-primary mr-2">
          <i class="fas fa-filter"></i> Filtrar
        </button>
        <a href="/corrective" class="btn btn-danger">Limpar</a>
      </div>
    </form>
  </div>

  <div class="card-body table-responsive">
    {% if notifications|length == 0 %}
    <p class="text-center">Sem Pedidos de Manutenção</p>
    {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Linha de Produção</th>
          <th>Número do Operador</th>
          <th>Descrição</th>
          <th>Data de Criação</th>
          <th>Equipamento</th>
          <th>Parou Produção?</th>
          <th>Estado SAP</th>
          <th>SMS</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for notification in notifications %}
        <tr>
          <td>{{ notification.id }}</td>
          <td>{{ notification.prod_line }}</td>
          <td>{{ notification.n_operador }}</td>
          <td>{{ notification.description }}</td>
          <td>{{ notification.data_pedido }}</td>
          <td>{{ notification.equipament }}</td>
          <td>{{ notification.stopped_production }}</td>
          <td>
            {% if notification.sap_order %} {{ notification.sap_order }} {% else
            %}
            <span class="text-muted">Aguarda criação</span>
            {% endif %}
          </td>
          <td>
            {% if notification.SMSState == 1 %} Enviado {% else %} Por Enviar {%
            endif %}
          </td>
          <td>
            <button
              class="btn btn-info btn-md"
              data-toggle="modal"
              data-target="#detailsModal"
              data-id="{{ notification.id }}"
              data-description="{{ notification.description }}"
              data-equipament="{{ notification.equipament }}"
              data-functional-location="{{ notification.functional_location }}"
              data-sap-state="{{ notification.SAPState }}"
              data-sms-state="{{ notification.SMSState }}"
              data-sms-date="{{ notification.sms_date }}"
              data-main-workcenter="{{ notification.main_workcenter }}">
              <i class="fas fa-eye"></i>
            </button>
            {% if session['username'] %}

            <button
              class="btn btn-success btn-md"
              data-toggle="modal"
              data-target="#takeModal"
              data-id="{{ notification.id }}"
              data-description="{{ notification.description }}"
              data-prod-line="{{ notification.prod_line }}"
              data-equipament="{{ notification.equipament }}"
              data-pedido-date="{{ notification.data_pedido }}">
              <i class="fa-solid fa-play"></i>
            </button>
            <button
              class="btn btn-danger btn-md"
              data-toggle="modal"
              data-target="#rejectModal"
              data-id="{{ notification.id }}"
              data-description="{{ notification.description }}"
              data-prod-line="{{ notification.prod_line }}"
              data-equipament="{{ notification.equipament }}"
              data-pedido-date="{{ notification.data_pedido }}">
              <i class="fa-solid fa-ban"></i>
            </button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "components/pagination.html" %} {% endif %}
  </div>
</div>

{% include "corrective/components/detailsModal.html" %} {% include
"corrective/components/takeModal.html" %} {% include
"corrective/components/rejectModal.html" %}

<script>
  {% include "corrective/js/openModal.js" %}
</script>

{% endblock %}
