{% extends 'configs/settings.html' %} {% block content %}

<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="mt-2">
  <div class="row mt-3">
    <h2 class="col-md-9">Gestão de Gamas</h2>
    <div class="col-md-3 d-flex justify-content-end">
      <button class="btn btn-success mb-3" onclick="abrirModalNovaLinha()">
        <i class="fa-solid fa-plus mr-1"></i>
        Adicionar Linha
      </button>
    </div>
  </div>

  <div class="row mt-4" id="centros_custo">
    {% for centro in centros_custo %}
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">{{ centro.cost_center }}</h5>

          <button
            class="btn btn-primary"
            data-cost-center="{{ centro.cost_center }}"
            onclick="mostrarEquipamentos(this)">
            <i class="fa-regular fa-eye mr-1"></i>
            Equipamentos
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="equipamentos" class="mt-2" style="display: none">
    <button class="btn btn-secondary mb-2" onclick="voltarCentros()">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <div id="equipamentos_content"></div>
  </div>
</div>

{% include "configs/components/addLineModal.html" %}

<script>
  function mostrarEquipamentos(button) {
    var cost_center = $(button).data("cost-center");

    sessionStorage.setItem("currentCostCenter", cost_center);

    $("#centros_custo").hide();

    $("#equipamentos").show();

    $.ajax({
      url: '{{ url_for("settings.gamas", cost_center="") }}' + cost_center,
      method: "GET",
      success: function (response) {
        $("#equipamentos_content").html(response);
      },
      error: function () {
        alert("Erro ao carregar os equipamentos.");
      },
    });
  }

  function voltarCentros() {
    $("#centros_custo").show();
    $("#equipamentos").hide();

    $("#equipamentos_content").empty();

    sessionStorage.removeItem("currentCostCenter");
  }

  $(document).ready(function () {
    var currentCostCenter = sessionStorage.getItem("currentCostCenter");

    if (currentCostCenter) {
      mostrarEquipamentosByCostCenter(currentCostCenter);
    }
  });

  function mostrarEquipamentosByCostCenter(cost_center) {
    $("#centros_custo").hide();

    $("#equipamentos").show();

    $.ajax({
      url: '{{ url_for("settings.gamas", cost_center="") }}' + cost_center,
      method: "GET",
      success: function (response) {
        $("#equipamentos_content").html(response);
      },
      error: function () {
        alert("Erro ao carregar os equipamentos.");
      },
    });
  }

  function abrirModalNovaLinha() {
    document.getElementById("formAdicionarLinha").reset();
    $("#modalAdicionarLinha").modal("show");
  }

  function salvarNovaLinha() {
    var equipment = document.getElementById("equipment").value;
    var cost_center = document.getElementById("cost_center").value;
    var desc = document.getElementById("desc").value;

    fetch("/adicionar_equipamento", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        costCenter: cost_center,
        equipment: equipment,
        descricao: desc,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          $("#modalAdicionarLinha").modal("hide");
          window.location.reload();
        } else {
          alert("Erro ao adicionar equipamento: " + data.error);
        }
      })
      .catch((err) => {
        alert("Erro: " + err);
      });
  }
</script>

{% endblock %}
