{% extends 'configs/settings.html' %} {% block content %}

<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="container mt-4">
  <h2>Gestão de Técnicos de Manutenção</h2>

  <form method="get" action="{{ url_for('settings.admin_mt') }}" class="mb-3">
    <div class="row">
      <div class="col-md-3">
        <label for="area">Área:</label>
        <select name="area" id="area" class="form-control">
          <option value="">Selecione</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="num">Nº Colaborador:</label>
        <input
          type="text"
          name="num"
          id="num"
          class="form-control"
          value="{{ filtro_num or '' }}" />
      </div>
      <div class="col-md-3 align-self-end">
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <a href="{{ url_for('settings.admin_mt') }}" class="btn btn-danger"
          >Limpar Filtros</a
        >
      </div>
      <div class="col-md-3 align-self-end">
        <button
          class="btn btn-success"
          type="button"
          id="toggleAddForm"
          aria-expanded="false"
          aria-controls="addMTForm">
          <i class="fa-solid fa-user-plus"></i>
        </button>
      </div>
    </div>
  </form>

  {% include "configs/components/dropdownAddMt.html" %}

  <table class="table table-striped" id="tabela">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Nº Colaborador</th>
        <th>Nº do Cartão</th>
        <th>Área</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% if mts %} {% for mt in mts %}
      <tr>
        <td>{{ mt.id }}</td>
        <td>{{ mt.username }}</td>
        <td>{{ mt.nome }}</td>
        <td>{{ mt.email }}</td>
        <td>{{ mt.n_tecnico }}</td>
        <td>{{ mt.n_card }}</td>
        <td>{{ mt.area }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#editMTModal"
            data-id="{{ mt.id }}"
            data-nome="{{ mt.nome }}"
            data-username="{{ mt.username }}"
            data-area="{{ mt.area }}"
            data-card="{{ mt.n_card }}"
            data-n-colaborador="{{ mt.n_tecnico }}">
            <i class="fa-solid fa-user-pen"></i>
          </button>
          <button
            class="btn btn-danger btn-sm"
            onclick="confirmDelete({{ mt.id }})">
            <i class="fa-solid fa-user-slash"></i>
          </button>
        </td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td colspan="7" class="text-center">
          Não existem Técnios Registados registados
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <nav aria-label="Page navigation" class="mt-4" id="nav">
    <ul class="pagination justify-content-center">
      {% if page > 1 %}
      <li class="page-item">
        <a
          class="page-link"
          href="{{ url_for('settings.admin_mt', page=page - 1, area=filtro_area, turno=filtro_turno) }}"
          >&laquo;</a
        >
      </li>
      {% endif %} {% if start_page > 1 %}
      <li class="page-item">
        <a
          class="page-link"
          href="{{ url_for('settings.admin_mt', page=1, area=filtro_area, turno=filtro_turno) }}"
          >1</a
        >
      </li>
      {% if start_page > 2 %}
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
      {% endif %} {% endif %} {% for p in range(start_page, end_page + 1) %}
      <li class="page-item {% if p == page %}active{% endif %}">
        <a
          class="page-link"
          href="{{ url_for('settings.admin_mt', page=p, area=filtro_area, turno=filtro_turno) }}"
          >{{ p }}</a
        >
      </li>
      {% endfor %} {% if end_page < total_pages %} {% if end_page < total_pages
      - 1 %}
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
      {% endif %}
      <li class="page-item">
        <a
          class="page-link"
          href="{{ url_for('settings.admin_mt', page=total_pages, area=filtro_area, turno=filtro_turno) }}"
          >{{ total_pages }}</a
        >
      </li>
      {% endif %} {% if page < total_pages %}
      <li class="page-item">
        <a
          class="page-link"
          href="{{ url_for('settings.admin_mt', page=page + 1, area=filtro_area, turno=filtro_turno) }}"
          >&raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% include "configs/components/editMTModal.html" %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleAddFormBtn = document.getElementById("toggleAddForm");
    const form = document.getElementById("addMTForm");
    const tabela = document.getElementById("tabela");
    const nav = document.getElementById("nav");
    const closeAddFormBtn = document.getElementById("closeAddForm");

    toggleAddFormBtn.addEventListener("click", function () {
      const isVisible = form.classList.contains("show");

      if (isVisible) {
        form.classList.remove("show");
        tabela.style.display = "table";
        nav.style.display = "block";
      } else {
        form.classList.add("show");
        tabela.style.display = "none";
        nav.style.display = "none";
      }
    });

    closeAddFormBtn.addEventListener("click", function () {
      form.classList.remove("show");
      tabela.style.display = "table";
      nav.style.display = "block";
    });
  });

  function confirmDelete(technicianId) {
    const isConfirmed = confirm("Tem certeza que deseja remover este técnico?");

    if (isConfirmed) {
      deleteTechnician(technicianId);
    }
  }

  function deleteTechnician(technicianId) {
    fetch(`/delete_mt/${technicianId}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({}),
    })
      .then((response) => {
        if (response.ok) {
          alert("Técnico removido com sucesso!");
          window.location.reload();
        } else {
          alert("Erro ao remover técnico!");
        }
      })
      .catch((error) => {
        console.error("Erro:", error);
        alert("Erro inesperado ao tentar remover o técnico!");
      });
  }

  {% include "configs/js/areas.js" %}
</script>

{% endblock %}
