{% extends 'portaria/homepage_portaria_new.html' %}
{% block content %}

<head>
    <link href="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>
    <div>
    </div>
    <div class="container.fluid" id="coisas">
        <div class="row" style="margin:5px;height: 50px; box-shadow: 0 4px 6px -6px #222;">
            <h4 style="padding: 10px;">Estacionamento Serviços</h4>
        </div>
        <br>
        <div class="row" id="coisas">
            <div class="col-md-6">
                <div class="card mb-4" style="box-shadow: 0 4px 4px -6px #222;">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        <strong>Serviços</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive" id="dataTable-prepare" width="100%" cellspacing="0" style="font-size: 15px;">
                            <thead id="box" class="bg-light">
                                <tr>
                                    <th data-field="1" data-sortable="true">Nome</th>
                                    <th data-field="2" data-sortable="false">Estado</th>
                                    <th data-field="3" data-sortable="false">Ações</th>
                                </tr>
                            </thead>
                            <tbody id="datatable">
                                <tr>{% for row in estado_estacionamento_servicos %}
                                    <td>{{row.1}}</td>
                                    {% if row.2 == 'Livre' %}
                                    <td style="background-color:#d2f8d2 ">{{row.2}}</td>
                                    {% elif row.2 == 'Ocupado' %}
                                    <td style="background-color:#f8f8d2 ">{{row.2}}</td>
                                    {% endif %}
                                    {% if row.2 == 'Ocupado' %}
                                    <td style="background-color:#FFD3A4 "> <a href="/alterar_estado_estacionamento_servicos/{{row.0}}" style="color:black" onclick="return confirm('Deseja alterar o estado deste Cais?')"> <i class="fa fa-chevron-right"></i></a></td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
<script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugins -->
<script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="static/plat_static/js/demo/datatables-demo.js"></script>
<!-- Inicialize as tabelas DataTables -->
<script>
$(document).ready(function() {
    $('#dataTable-prepare').DataTable();
});
</script>
{% endblock %}