{% extends 'portaria/homepage_portaria_new.html' %}
{% block content %}

<head>
    <link href="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>
    <div>
    </div>
    <div class="container.fluid" id="coisas">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">Controlo de Acessos</h1>
            </div>
        </div>
        <br>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Histórico dos ultimos 7 dias
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive" id="dataTable-prepare" width="100%" cellspacing="0" style="font-size: 12px;">
                    <thead id="box" class="bg-light">
                        <tr>
                            <th data-field="1" data-sortable="true">Data Entrada </th>
                            <th data-field="2" data-sortable="true">Data Saida</th>
                            <th data-field="3" data-sortable="false">Nome</th>
                            <th data-field="4" data-sortable="false">Identificação</th>
                            <th data-field="5" data-sortable="true">Empresa</th>
                            <th data-field="6" data-sortable="false">Contacto</th>
                            <th data-field="7" data-sortable="false">Matrícula</th>
                            <th data-field="8" data-sortable="false">Cartão BW</th>
                            <th data-field="10" data-sortable="false">Oculos</th>
                            <th data-field="11" data-sortable="false">Bata</th>
                            <th data-field="12" data-sortable="true">Sapatos</th>
                            <th data-field="13" data-sortable="false">Destino</th>
                            <th data-field="14" data-sortable="false">Reason</th>
                            <th data-field="15" data-sortable="false">Vigilante Entrada</th>
                            <th data-field="16" data-sortable="false">Vigilante Saida</th>
                            <th data-field="17" data-sortable="false">Obs</th>
                            <th data-field="18" data-sortable="false">Responsável</th>
                            <th data-field="19" data-sortable="false">Registo 2º Entrada</th>
                            <th data-field="20" data-sortable="false">Registo 2º Saida</th>
                            <th data-field="21" data-sortable="false">Data 2º Entrada</th>
                            <th data-field="22" data-sortable="false">Data 2º Saida</th>
                            <th data-field="23" data-sortable="false">Estacionamento</th>
                            <th data-field="24" data-sortable="false">Motivo Recusa</th>
                        </tr>
                    </thead>
                    <tbody id="datatable">
                        <tr>{% for row in all_cargas_descargas_data %}
                            <td style="white-space: nowrap;">{{row.1}}</td>
                            {% if row.2 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.2}}</td>
                            {% endif %}
                            <td style="white-space: nowrap;">{{row.3}}</td>
                            <td style="white-space: nowrap;">{{row.4}}</td>
                            <td style="white-space: nowrap;">{{row.5}}</td>
                            <td style="white-space: nowrap;">{{row.6}}</td>
                            <td style="white-space: nowrap;">{{row.7}}</td>
                            <td style="white-space: nowrap;">{{row.8}}</td>
                            <td style="white-space: nowrap;">{{row.9}}</td>
                            <td style="white-space: nowrap;">{{row.10}}</td>
                            <td style="white-space: nowrap;">{{row.11}}</td>
                            <td style="white-space: nowrap;">{{row.12}}</td>
                            <td style="white-space: nowrap;">{{row.13}}</td>
                            <td style="white-space: nowrap;">{{row.14}}</td>
                            {% if row.15 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.15}}</td>
                            {% endif %}
                            {% if row.16 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.16}}</td>
                            {% endif %}
                            <td>{{row.17}}</td>
                            {% if row.19 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.19}}</td>
                            {% endif %}
                            {% if row.20 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.20}}</td>
                            {% endif %}
                            {% if row.21 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.21}}</td>
                            {% endif %}
                            {% if row.22 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.22}}</td>
                            {% endif %}
                            {% if row.23 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.23}}</td>
                            {% endif %}
                            {% if row.18 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.18}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
<script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
<script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugins -->
<script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="static/plat_static/js/demo/datatables-demo.js"></script>
<!-- Inicialize as tabelas DataTables -->
<script>
$(document).ready(function() {
    $('#dataTable-prepare').DataTable();
});
</script>
{% endblock %}