{% extends 'portaria/homepage_portaria_new.html' %}
{% block content %}

<head>
    <link href="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>
    <div>
    </div>
    <div class="container.fluid" id="coisas">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">Histórico Últimos 7 Dias</h1>
            </div>
        </div>
        <br>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Histórico Últimos 7 Dias
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive" id="dataTable-prepare" width="100%" cellspacing="0" style="font-size: 12px;">
                    <thead id="box" class="bg-light">
                        <tr>
                            <th data-field="1" data-sortable="true">Entrada Portaria</th>
                            <th data-field="2" data-sortable="true">Entrada Armazém</th>
                            <th data-field="3" data-sortable="false">Motorista</th>
                            <th data-field="4" data-sortable="false">Identificação</th>
                            <th data-field="5" data-sortable="true">Contacto</th>
                            <th data-field="6" data-sortable="false">Empresa</th>
                            <th data-field="7" data-sortable="false">Matrícula</th>
                            <th data-field="8" data-sortable="true">Vigilante entrada</th>
                            <th data-field="9" data-sortable="false">Vigilante saída</th>
                            <th data-field="10" data-sortable="false">Entrada Armazem</th>
                            <th data-field="11" data-sortable="false">Saida Armazem</th>
                            <th data-field="12" data-sortable="true">Estado</th>
                            <th data-field="13" data-sortable="false">Data Registo Armazem</th>
                            <th data-field="14" data-sortable="false">Técnico Registo Armazem</th>
                            <th data-field="15" data-sortable="false">Fornecedor</th>
                            <th data-field="16" data-sortable="false">Transporte</th>
                            <th data-field="17" data-sortable="false">Guia</th>
                            <th data-field="18" data-sortable="false">Validar entrada</th>
                            <th data-field="19" data-sortable="false">Data validação entrada</th>
                            <th data-field="20" data-sortable="false">Owner validação entrada</th>
                            <th data-field="21" data-sortable="false">Tipo</th>
                            <th data-field="22" data-sortable="false">Saída armazém</th>
                            <th data-field="23" data-sortable="false">Saída portaria</th>
                            <th data-field="24" data-sortable="false">Destino</th>
                            <th data-field="25" data-sortable="false">Cliente</th>
                            <th data-field="26" data-sortable="false">Código carga</th>
                            <th data-field="27" data-sortable="false">Veículo</th>
                            <th data-field="28" data-sortable="false">Matrícula reboque</th>
                            <th data-field="29" data-sortable="false">Destino 2</th>
                            <th data-field="30" data-sortable="false">Cliente 2</th>
                            <th data-field="31" data-sortable="false">Código carga 2</th>
                            <th data-field="32" data-sortable="false">Registo início 2 carga</th>
                            <th data-field="33" data-sortable="false">Fim carga 2</th>
                            <th data-field="34" data-sortable="false">Registo carga</th>
                            <th data-field="35" data-sortable="true">Motivo Recusa Portaria</th>
                            <th data-field="36" data-sortable="true">Motivo Recusa Armazem</th>
                        </tr>
                    </thead>
                    <tbody id="datatable">
                        <tr>{% for row in all_cargas_descargas_data %}
                            <td style="white-space: nowrap;">{{row.0}}</td>
                            {% if row.1 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.1}}</td>
                            {% endif %}
                            <td style="white-space: nowrap;">{{row.2}}</td>
                            <td style="white-space: nowrap;">{{row.3}}</td>
                            <td style="white-space: nowrap;">{{row.4}}</td>
                            <td style="white-space: nowrap;">{{row.5}}</td>
                            <td style="white-space: nowrap;">{{row.6}}</td>
                            <td style="white-space: nowrap;">{{row.7}}</td>
                            <td style="white-space: nowrap;">{{row.8}}</td>
                            <td style="white-space: nowrap;">{{row.9}}</td>
                            <td style="white-space: nowrap;">{{row.10}}</td>
                            {% if row.11 == None %}
                            <td></td>
                            {% elif row.11 == 1 %}
                            <td>Sem Cais</td>
                            {% elif row.11 == 2 %}
                            <td>Cais 1</td>
                            {% elif row.11 == 3 %}
                            <td>Cais 2</td>
                            {% elif row.11 == 4 %}
                            <td>Cais 3</td>
                            {% elif row.11 == 5 %}
                            <td>Cais 4</td>
                            {% elif row.11 == 6 %}
                            <td>Cais 5</td>
                            {% elif row.11 == 7 %}
                            <td>Cais Lateral</td>
                            {% elif row.11 == 8 %}
                            <td>Área Exterior</td>
                            {% elif row.11 == 9 %}
                            <td>Área Tubos 6 Metros</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if row.12 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.12}}</td>
                            {% endif %}
                            <td style="white-space: nowrap;">{{row.13}}</td>
                            {% if row.37 != '' %}
                            <td> <button type="button" class="btn btn-success" style="background-color: #ddedec;color:black;" data-toggle="modal" data-target="#ver_fornecedores{{row.36}}">Fornecedores</button></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td style="white-space: nowrap;">{{row.15}}</td>
                            <td style="white-space: nowrap;">{{row.16}}</td>
                            {% if row.17 == None %}
                            <td>Aguarda Estado</td>
                            {% elif row.17 == 0 %}
                            <td>Aguarda Estado</td>
                            {% elif row.17 == 1 %}
                            <td>Aguarda Validação Entrada Vigilante</td>
                            {% elif row.17 == 2 %}
                            <td>Em trabalho</td>
                            {% elif row.17 == 3 %}
                            <td>Aguarda Validação Saida Vigilante</td>
                            {% elif row.17 == 4 %}
                            <td>Finalizado</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if row.18 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.18}}</td>
                            {% endif %}
                            <td style="white-space: nowrap;">{{row.19}}</td>
                            <td style="white-space: nowrap;">{{row.20}}</td>
                            {% if row.21 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.21}}</td>
                            {% endif %}
                            {% if row.22 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.22}}</td>
                            {% endif %}
                            <td style="white-space: nowrap;">{{row.23}}</td>
                            <td style="white-space: nowrap;">{{row.24}}</td>
                            <td style="white-space: nowrap;">{{row.25}}</td>
                            <td style="white-space: nowrap;">{{row.26}}</td>
                            <td style="white-space: nowrap;">{{row.27}}</td>
                            <td style="white-space: nowrap;">{{row.28}}</td>
                            <td style="white-space: nowrap;">{{row.29}}</td>
                            <td style="white-space: nowrap;">{{row.30}}</td>
                            {% if row.31 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.31}}</td>
                            {% endif %}
                            {% if row.32 == None %}
                            <td></td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.32}}</td>
                            {% endif %}
                            <td style="white-space: nowrap;">{{row.33}}</td>
                            <td style="white-space: nowrap;">{{row.34}}</td>
                            <td style="white-space: nowrap;">{{row.35}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for row in all_cargas_descargas_data %}
                <div class="modal fade" id="ver_fornecedores{{row.36}}" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Fornecedores</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Guia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if row.37 != '' %}
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>{{row.37}}</td>
                                            <td>{{row.38}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.39 != '' %}
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>{{row.39}}</td>
                                            <td>{{row.40}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.41 != '' %}
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>{{row.41}}</td>
                                            <td>{{row.42}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.43 != '' %}
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>{{row.43}}</td>
                                            <td>{{row.44}}</td>
                                        </tr>
                                        <tr>
                                            {% else %}
                                            {% endif %}
                                            {% if row.45 != '' %}
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>{{row.45}}</td>
                                            <td>{{row.46}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.47 != '' %}
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>{{row.47}}</td>
                                            <td>{{row.48}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.49 != '' %}
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>{{row.49}}</td>
                                            <td>{{row.50}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.51 != '' %}
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>{{row.51}}</td>
                                            <td>{{row.52}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.53 != '' %}
                                        <tr>
                                            <th scope="row">9</th>
                                            <td>{{row.53}}</td>
                                            <td>{{row.54}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.55 != '' %}
                                        <tr>
                                            <th scope="row">10</th>
                                            <td>{{row.55}}</td>
                                            <td>{{row.56}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.57 != '' %}
                                        <tr>
                                            <th scope="row">11</th>
                                            <td>{{row.57}}</td>
                                            <td>{{row.58}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.59 != '' %}
                                        <tr>
                                            <th scope="row">12</th>
                                            <td>{{row.59}}</td>
                                            <td>{{row.60}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.61 != '' %}
                                        <tr>
                                            <th scope="row">13</th>
                                            <td>{{row.61}}</td>
                                            <td>{{row.62}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.63 != '' %}
                                        <tr>
                                            <th scope="row">14</th>
                                            <td>{{row.63}}</td>
                                            <td>{{row.64}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.65 != '' %}
                                        <tr>
                                            <th scope="row">15</th>
                                            <td>{{row.65}}</td>
                                            <td>{{row.66}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.67 != '' %}
                                        <tr>
                                            <th scope="row">16</th>
                                            <td>{{row.67}}</td>
                                            <td>{{row.68}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.69 != '' %}
                                        <tr>
                                            <th scope="row">17</th>
                                            <td>{{row.69}}</td>
                                            <td>{{row.70}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.71 != '' %}
                                        <tr>
                                            <th scope="row">18</th>
                                            <td>{{row.71}}</td>
                                            <td>{{row.72}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.73 != '' %}
                                        <tr>
                                            <th scope="row">19</th>
                                            <td>{{row.73}}</td>
                                            <td>{{row.74}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                        {% if row.75 != '' %}
                                        <tr>
                                            <th scope="row">20</th>
                                            <td>{{row.75}}</td>
                                            <td>{{row.76}}</td>
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                            <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: silver" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
<script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
<script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugins -->
<script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="static/plat_static/js/demo/datatables-demo.js"></script>
<!-- Inicialize as tabelas DataTables -->
<script>
$(document).ready(function() {
    $('#dataTable-prepare').DataTable();
});
</script>
{% endblock %}