{% extends 'portaria/homepage_portaria_new.html' %}
{% block content %}

<head>
    <link href="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>
    <div class="container.fluid" id="coisas">
        <div class="row">
            <div class="col-md-4">
                <h4 class="mt-2">Controlo de Acesso - Provisório</h4>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#adicionar_registo">Registo Único</button>
            </div>
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true,category_filter=["error","info","success","warning"]) %}
                {% if messages %}
                {% for category,message in messages %}
                {% if category == 'warning' %}
                <div class="alert alert-warning" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif category == 'info' %}
                <div class="alert alert-info" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif category == 'success' %}
                <div class="alert alert-success" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif category == 'error' %}
                <div class="alert alert-danger" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <br>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registo Entradas
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive" id="dataTable-prepare" width="100%" cellspacing="0" style="font-size: 12px;">
                    <thead id="box" class="bg-light" style="color: black; font-weight: 700;">
                        <tr>
                            <th data-field="1" data-sortable="true">Registo entrada</th>
                            <th data-field="2" data-sortable="true">Cartão</th>
                            <th data-field="3" data-sortable="true">Nome</th>
                            <th data-field="4" data-sortable="true">Número</th>
                            <th data-field="5" data-sortable="true">Responsável</th>
                            <th data-field="6" data-sortable="true">Registo Saida</th>
                            <th data-field="7" data-sortable="true">Responsável</th>
                            <th data-field="7" data-sortable="true">Registar Saida</th>
                            <th data-field="11" data-sortable="true">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="tableInfos" style="color: black; font-weight: 700;">
                        {% for row in visitas_data %}
                        <tr>
                            <td style="white-space: nowrap;">{{row.1}}</td>
                            <td style="white-space: nowrap;">{{row.2}}</td>
                            <td style="white-space: nowrap;">{{row.3}}</td>
                            <td style="white-space: nowrap;">{{row.4}}</td>
                            <td style="white-space: nowrap;">{{row.5}}</td>
                            {% if row.6 == None %}
                            <td></td>
                            <td></td>
                            <td><a href="/registar_saida_visit_temp/{{row.0}}" class="btn btn-primary ml-2" onclick="return confirm('Quer registar entrega deste cartão?')"><i class="fa fa-arrow-right"></i></td>
                            <td><a href="" class="btn btn-primary" style="background-color: #f8971d;border-color:#f8971d;" data-toggle="modal" data-target="#edit_req_visit{{row.0}}"><i class="fas fa-eraser" aria-hidden="true"></i></a><a href="/delete_visit_temp/{{row.0}}" class="btn btn-danger ml-2" onclick="return confirm('Quer apagar este registo ?')"><i class="fa fa-trash"></i></a>
                                </td>
                            {% else %}
                            <td style="white-space: nowrap;">{{row.6}}</td>
                            <td style="white-space: nowrap;">{{row.7}}</td>
                            <td> </td>
                            <td> </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for row in visitas_data %}
            <div class="modal fade" id="edit_req_visit{{row.0}}" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Registo</h4>
                        </div>
                        <div class="modal-body">
                            <form action="edit_visit_temp/{{row.0}}" method="POST">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label">Nome</label>
                                            <div>
                                                <input type="text" class="form-control" id="nome" name="nome" value="{{row.3}}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label">Número</label>
                                            <div>
                                                <input type="text" class="form-control" id="numero" name="numero" value="{{row.4}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">Cartão BW </label>
                                            <select class="form-control card-select" name="cartao" id="cartao" type="text" >
                                                <option value="{{row.2}}">{{row.2}}</option>
                                                <option value="N.A.">N.A.</option>
                                                {% for row in cartoes_data %}
                                                <option value="{{row.0}}">{{row.0}} - {{row.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary ">Editar Dados</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: grey;color: white;" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <div class="modal fade" id="adicionar_registo" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Criar Registo</h4>
                        </div>
                        <div class="modal-body">
                            <form action="add_visit_temp" method="POST">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">Nome Completo</label>
                                            <div>
                                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" maxlength="150" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">Numero</label>
                                            <div>
                                                <input type="text" class="form-control" id="numero" name="numero" placeholder="Número Borgwarner" maxlength="50" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">Cartão BW </label>
                                            <select class="form-control card-select" name="cartao" id="cartao" type="text" required>
                                                <option value="">Selecione</option>
                                                <option value="N.A.">N.A.</option>
                                                {% for row in cartoes_data %}
                                                <option value="{{row.0}}">{{row.0}} - {{row.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary ">Adicionar</button>
                                </div>
                            </form>
                        </div>
                        <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: grey;color: white;" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
<script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugins -->
<script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="static/plat_static/js/demo/datatables-demo.js"></script>
<!-- Inicialize as tabelas DataTables -->
<script>
$(document).ready(function() {
    $('#dataTable-prepare').DataTable({ "order": [] });

});
</script>
{% endblock %}