{% extends 'portaria/homepage_portaria_new.html' %}
{% block content %}

<head>
    <link href="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>
    <div class="container.fluid" id="coisas">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">Registo Chaves</h1>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#adicionar_registo">Registar</button>
            </div>
        </div>
        <br>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registo da entrega das chaves
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive" id="dataTable-prepare" width="100%" cellspacing="0" style="font-size: 12px;">
                    <thead id="box" class="bg-light" style="color: black; font-weight: 700;">
                        <tr>
                            <th data-field="1" data-sortable="true">Data Registo</th>
                            <th data-field="2" data-sortable="true">Vigilante</th>
                            <th data-field="3" data-sortable="true">Requisitante</th>
                            <th data-field="4" data-sortable="true">Numero</th>
                            <th data-field="5" data-sortable="true">Empresa</th>
                            <th data-field="6" data-sortable="true">Departamento</th>
                            <th data-field="7" data-sortable="true">Autorizacao</th>
                            <th data-field="8" data-sortable="true">Observações entrada</th>
                            <th data-field="9" data-sortable="true">Chave</th>
                            <th data-field="10" data-sortable="true">Motivo</th>
                            <th data-field="11" data-sortable="true">Tipo Chaveiro</th>
                            <th data-field="12" data-sortable="true">Data Prevista</th>
                            <th data-field="13" data-sortable="true">Devolução</th>
                            <th data-field="14" data-sortable="true">Data Saida</th>
                            <th data-field="15" data-sortable="true">Vigilante Saída</th>
                            <th data-field="16" data-sortable="true">Observações Saida</th>
                            <th data-field="17" data-sortable="true">Editar</th>
                            <th data-field="18" data-sortable="true">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="tableInfos" style="color: black; font-weight: 700;">
                        {% for row in SP_GetRegistoChaves %}
                        <tr>
                            <td style="white-space: nowrap;">{{row.1}}</td>
                            <td style="white-space: nowrap;">{{row.2}}</td>
                            <td style="white-space: nowrap;">{{row.3}}</td>
                            <td style="white-space: nowrap;">{{row.4}}</td>
                            <td style="white-space: nowrap;">{{row.5}}</td>
                            <td style="white-space: nowrap;">{{row.6}}</td>
                            <td style="white-space: nowrap;">{{row.7}}</td>
                            <td style="white-space: nowrap;">{{row.8}}</td>
                            <td style="white-space: nowrap;">{{row.9}}</td>
                            <td style="white-space: nowrap;">{{row.10}}</td>
                            <td>{{row.11}}</td>
                            <td style="white-space: nowrap;">{{row.12}}</td>
                            <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#saida{{row.0}}"><i class="fa fa-chevron-right"></i></button> </td>
                            <td style="white-space: nowrap;">{{row.13}}</td>
                            <td style="white-space: nowrap;">{{row.14}}</td>
                            <td style="white-space: nowrap;">{{row.15}}</td>
                            <td><a class="btn btn-primary" data-toggle="modal" data-target="#editar_registo{{row.0}}" style="background-color: orange;border-color:orange; color: white;"><i class="fas fa-eraser" aria-hidden="true"></i></a></td>
                            <td><a href="/delete_key_reg/{{row.0}}" class="btn btn-primary" onclick="return confirm('Tens a certeza que queres apagar este registo?')" style="background-color: #c41230;border-color:#c41230;"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                        <div class="modal fade" id="saida{{row.0}}" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Registar devolução da chave {{row.9}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="registar_entrega_chave/{{row.0}}" method="POST">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Nome</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_1" name="var_1" placeholder="{{row.3}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Número Colaborador</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_2" name="var_2" placeholder="{{row.5}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Observações</label>
                                                        <div>
                                                            <textarea class="form-control" id="var_3" name="var_3" placeholder="Observações relativas à entrega, limitado a 400 caracteres." maxlength="400"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Registar entrega</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                {% for row in SP_GetRegistoChaves %}
                <div class="modal fade" id="editar_registo{{row.0}}" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Editar Registo </h4>
                            </div>
                            <div class="modal-body">
                                <form action="/edit_key_reg/{{row.0}}" method="POST">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="control-label">Requisitante</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_1" name="var_1" value="{{row.3}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="control-label">Número Colaborador</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_2" name="var_2" value="{{row.4}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="control-label">Empresa</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_3" name="var_3" value="{{row.5}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="control-label">Departamento</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_6" name="var_6" value="{{row.6}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="control-label">Autorizado por</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_5" name="var_5" value="{{row.7}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Tipo de chaveiro *</label>
                                                <div>
                                                    <select class="form-control" type="text" name="var_42" id="var_42[0]" onchange="setupDropdownEvent2(0)">
                                                        <option value="{{row.11}}">{{row.11}}</option>
                                                        {% for row in SP_get_tipo_chaveiro %}
                                                        <option value="{{row.1}}">{{row.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Chave (Posição)*</label>
                                                <select class="form-control" name="var_82" id="var_82[0]" type="text">
                                                    <option value="{{row.9}}">{{row.9}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="control-label">Permanente*</label>
                                                <select class="form-control" name="var_11" id="var_11" type="text">
                                                    <option value="{{row.16}}">{{row.16}} </option>
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="control-label">Motivo *</label>
                                                <div>
                                                    <select class="form-control" type="text" name="var_7" id="var_7">
                                                        <option value="{{row.10}}">{{row.10}}</option>
                                                        {% for row in SP_get_motivos %}
                                                        <option value="{{row.1}}">{{row.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="control-label">Entrega estimada *</label>
                                                <div>
                                                    <input type="date" class="form-control" name="var_9" id="var_9" min="{{data_atual}}" value="{{row.12}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Editar registo</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="modal fade" id="adicionar_registo" role="dialog">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Registo de Entrega de Chave</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/add_key_reg" method="POST">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label class="control-label">Requisitante *</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_1" name="var_1" placeholder="Nome do requisitante" maxlength="50" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="control-label">Número BW *</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_2" name="var_2" placeholder="Número Borgwarner" maxlength="50" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="control-label">Empresa *</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_3" name="var_3" placeholder="Empresa" maxlength="50" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="control-label">Departamento *</label>
                                                <div>
                                                    <select class="form-control" type="text" name="var_6" id="var_6" required>
                                                        <option value="">Selecione</option>
                                                        {% for row in SP_get_departamentos %}
                                                        <option value="{{row.1}}">{{row.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="control-label">Autorizado Por *</label>
                                                <div>
                                                    <input type="text" class="form-control" id="var_5" name="var_5" placeholder="Autorizado por" maxlength="50" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label"><b>Adidionar Chaves</b></label>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-primary btn-block " onclick="addFields()"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-danger btn-block" onclick="removeFields()"><i class="fa fa-minus"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Tipo de chaveiro *</label>
                                                <div>
                                                    <select class="form-control" type="text" name="var_4[]" id="var_4[0]" onchange="setupDropdownEvent(0)" required>
                                                        <option value="0">Selecione:</option>
                                                        {% for row in SP_get_tipo_chaveiro %}
                                                        <option value="{{row.1}}">{{row.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Chave (Posição)*</label>
                                                <select class="form-control" name="var_8[]" id="var_8[0]" type="text" required>
                                                    <option value="">Selecione chaveiro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label">Permanente*</label>
                                                <select class="form-control" name="var_11[]" id="var_11[0]" type="text" required>
                                                    <option value=""> </option>
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Motivo *</label>
                                                <div>
                                                    <select class="form-control" type="text" name="var_7[]" id="var_7[0]" required>
                                                        <option value="Selecione:">Selecione:</option>
                                                        {% for row in SP_get_motivos %}
                                                        <option value="{{row.1}}">{{row.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Entrega estimada *</label>
                                                <div>
                                                    <input type="date" class="form-control" name="var_9[]" id="var_9[0]" min="{{data_atual}}" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="extraFields"></div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label">Observações </label>
                                                <div>
                                                    <textarea class="form-control" id="var_10" name="var_10" placeholder="Observações relativas ao pedido, limitado a 400 caracteres." maxlength="400"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary ">Adicionar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: grey;color: white;" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="static/scripts/js/datatables-simple-demo.js"></script>
<script>
function setupDropdownEvent(index) {
    const select_category = document.getElementById(`var_4[${index}]`);
    fetch('/get_key_from_keychain/' + select_category.value)
        .then(response => response.json())
        .then(data => {
            const categoryDropdown = document.getElementById(`var_8[${index}]`);
            $(categoryDropdown).empty();
            data.forEach(value => {
                var option = $("<option></option>").attr("value", value['posicao']).text(value['posicao']);
                $(categoryDropdown).append(option);
            });
        })
        .catch(error => console.error('Erro:', error));

}
</script>
<script>
function setupDropdownEvent2(index) {
    const select_category = document.getElementById(`var_42[${index}]`);
    fetch('/get_key_from_keychain/' + select_category.value)
        .then(response => response.json())
        .then(data => {
            const categoryDropdown = document.getElementById(`var_82[${index}]`);
            $(categoryDropdown).empty();
            data.forEach(value => {
                var option = $("<option></option>").attr("value", value['posicao']).text(value['posicao']);
                $(categoryDropdown).append(option);
            });
        })
        .catch(error => console.error('Erro:', error));

}
</script>
<script>
let currentIndex = 0;

function addFields() {
    var extraFields = document.getElementById('extraFields');

    var newFields = document.createElement('div');
    currentIndex++
    newFields.innerHTML = `
            <div class="teste mt-2 mb-2">
            <label class="control-label"><b>Chave Extra ${currentIndex}</b></label>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Tipo de chaveiro *</label>
                            <div>
                                <select class="form-control" type="text" name="var_4[]" id="var_4[${currentIndex}]" onchange="setupDropdownEvent(${currentIndex})" required>
                                    <option value="0">Selecione:</option>
                                    {% for row in SP_get_tipo_chaveiro %}
                                    <option value="{{row.1}}">{{row.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Chave (Posição)*</label>
                            <select class="form-control" name="var_8[]" id="var_8[${currentIndex}]" type="text" required>
                                <option value="">Selecione chaveiro</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label class="control-label">Permanente*</label>
                            <select class="form-control" name="var_11[]" id="var_11[${currentIndex}]" type="text" required>
                                <option value=""> </option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Motivo *</label>
                            <div>
                                <select class="form-control" type="text" name="var_7[]" id="var_7[${currentIndex}]" required>
                                    <option value="Selecione:">Selecione:</option>
                                    {% for row in SP_get_motivos %}
                                    <option value="{{row.1}}">{{row.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Entrega estimada *</label>
                            <div>
                                <input type="date" class="form-control" name="var_9[]" id="var_9[${currentIndex}]"  min="{{data_atual}}" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `;

    extraFields.appendChild(newFields);
}

function removeFields() {
    var extraFields = document.getElementById('extraFields');
    var fields = extraFields.getElementsByClassName('teste');
   
    if (fields.length > 0) {
        var lastField = fields[fields.length - 1];
        var parentRow = lastField.closest('.teste');

        if (parentRow) {
            console.log('Removing parent row:', parentRow);
            parentRow.remove();
        } else {
            console.log('Parent row not found');
        }
    } else {
        console.log('No rows to remove');
    }
}
</script>
<script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
<script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugins -->
<script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="static/plat_static/js/demo/datatables-demo.js"></script>
<!-- Inicialize as tabelas DataTables -->
<script>
    $(document).ready(function() {
        $('#dataTable-prepare').DataTable({ "order": [], "pageLength": 20 });

    });
</script>
{% endblock %}