{% extends 'home.html' %}
{% block content %}

<head>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <style type="text/css">
    #coisas {
        margin-left: 5px;
        margin-right: 5px;
    }
    </style>
</head>

<body>
    <div>
        <!--  FLASH MENSAGENS!-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="container.fluid" id="coisas">
        <h1 class="mt-4">Transport Requests Pendent</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Follow Up 
            </div>
            <div class="card-body">
                <table id="table"  class="table table-striped " data-search="true" data-toggle="table" data-show-export="false" data-show-columns="false" data-show-multi-sort="false" data-pagination="true" data-toolbar="#toolbar" data-show-toggle="true" data-resizable="true">
                    <thead id="box" class="bg-light">
                        <tr>
                            <th data-field="1" data-sortable="true" >Code</th>
                            <th data-field="2" data-sortable="true">Creation Date</th>
                            <th data-field="3" data-sortable="true">PickUp address</th>
                            <th data-field="4" data-sortable="false">PickUp Company</th>
                            <th data-field="5" data-sortable="true">PickUp Country</th>
                            <th data-field="6" data-sortable="true">PickUp Date</th>
                            <th data-field="7" data-sortable="true">Delivery address</th>
                            <th data-field="8" data-sortable="true">Delivery Company</th>
                            <th data-field="9" data-sortable="false">Delivery Country</th>
                            <th data-field="10" data-sortable="false">Delivery Date</th>
                            <th data-field="11" data-sortable="false">Qtd. Pallets</th>
                            <th data-field="12" data-sortable="false">Lenght</th>
                            <th data-field="13" data-sortable="false">Width</th>
                            <th data-field="14" data-sortable="false">Height</th>
                            <th data-field="15" data-sortable="false">Weight</th>
                            <th data-field="16" data-sortable="false">Volume</th>
                            <th data-field="17" data-sortable="false">Reference 1</th>
                            <th data-field="18" data-sortable="false">Reference 2</th>
                            <th data-field="19" data-sortable="false">Reference 3</th>
                            <th data-field="20" data-sortable="false">Imputable</th>
                            <th data-field="21" data-sortable="false">Suppplier/Client</th>
                            <th data-field="22" data-sortable="false">Line</th>
                            <th data-field="23" data-sortable="false">Cost Center</th>
                            <th data-field="24" data-sortable="false">Urgent</th>
                            <th data-field="25" data-sortable="false">Justification</th>
                        </tr>
                    </thead>
                    <tbody id="tableInfos">
                        <tr>{% for row in all_requisitions_transport_pendent_data %}
                        	<td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            
                            <td style="background-color:#16d579;color: white;">{{row.3}}</td><!-- Pickup -->
                            <td style="background-color:#16d579;color: white;">{{row.4}}</td>
                            <td style="background-color:#16d579;color: white;">{{row.5}}</td>
                            <td style="background-color:#16d579;color: white;">{{row.9}}</td>

                            <td style="background-color:#0e8587;color: white;">{{row.6}}</td> <!-- Delivery -->
                            <td style="background-color:#0e8587;color: white;">{{row.7}}</td>
                            <td style="background-color:#0e8587;color: white;">{{row.8}}</td>
                            <td style="background-color:#0e8587;color: white;">{{row.10}}</td>

                            <td style="background-color:#73e1b1;color: white;">{{row.11}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.12}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.13}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.14}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.15}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.16}}</td>
                            <td>{{row.17}}</td>
                            <td>{{row.18}}</td>
                            <td>{{row.19}}</td>
                            
                            <td>{{row.22}}</td> <!-- Imputable -->
                            <td>{{row.23}}</td>
                            <td>{{row.24}}</td>
                            <td>{{row.25}}</td>
                            <td>{{row.26}}</td>
                            <td>{{row.27}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>     
            </div>
        </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="static/scripts/js/datatables-simple-demo.js"></script>

{% endblock %}