{% extends 'home.html' %}
{% block content %}

<head>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <style type="text/css">
    #coisas {
        margin-left: 5px;
        margin-right: 5px;

    }
    </style>
</head>

<body>
    
    <div class="container.fluid" id="coisas" style="font-size:13px">
        <div style="margin:10px">
       
        {% with messages = get_flashed_messages(with_categories=true,category_filter=["error","info","success","warning"]) %}
            {% if messages %}
            {% for category,message in messages %}
            {% if category == 'warning' %}
            <div class="alert alert-warning" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif category == 'info' %}
            <div class="alert alert-info" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif category == 'success' %}
            <div class="alert alert-success" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif category == 'error' %}
            <div class="alert alert-danger" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
    </div>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mt-4">Requests Pending Approval</h3>
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table table-striped " data-search="true" data-toggle="table" data-show-export="false" data-show-columns="false" data-show-multi-sort="false" data-pagination="true" data-toolbar="#toolbar" data-show-toggle="true" data-resizable="true">
                    <thead id="box" class="bg-light">
                        <tr>
                            <th data-field="1" data-sortable="true">Code</th>
                            <th data-field="2" data-sortable="true">Creation date</th>
                            <th data-field="3" data-sortable="true">Owner</th>
                            <th data-field="4" data-sortable="false">Imputable</th>
                            <th data-field="5" data-sortable="false">Supplier/Client</th>
                            <th data-field="6" data-sortable="false">Cost</th>
                            <th data-field="7" data-sortable="false">Line</th>
                            
                            <th data-field="9" data-sortable="false">Urgent</th>
                            <th data-field="10" data-sortable="false">Justification</th>
                            <th data-field="11" data-sortable="false">Option</th>
                            <th data-field="12" data-sortable="false">Name</th>
                            <th data-field="13" data-sortable="false">Approve</th>
                            <th data-field="14" data-sortable="false">Refuse</th>
                        </tr>
                    </thead>
                    <tbody id="tableInfos">
                        <tr>{% for row in approval_requests_data %}
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            <td>{{row.37}}</td>
                            <td>{{row.22}}</td>
                            <td>{{row.23}}</td>
                            {% if row.28 == 1 %}
                            <td>{{row.31}} €</td>
                            {% else %}
                            <td>{{row.34}} €</td>
                            {% endif %}
                            <td>{{row.24}}</td>
                           
                            <td>{{row.26}}</td>
                            <td>{{row.27}}</td>
                            {% if row.28 == 1 %}
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ver_options_1{{row.0}}">info</button></td>
                            {% else %}
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ver_options_2{{row.0}}">info</button></td>
                            {% endif %}
                            <td>{{row.36}}</td>
                            <td><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#aprovar{{row.0}}">Approve</button></td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#recusar{{row.0}}">Refuse</button></td>
                        </tr>{% endfor %}
                        {% for row in approval_requests_data %}
                        <div class="modal fade" id="aprovar{{row.0}}" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Approve</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="aprovar_requisicao/{{row.0}}" method="POST">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Owner</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.37}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Creation date</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.2}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Imputable</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.22}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Cost Center</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.25}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Option Selected</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.28}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--div class="row">
		                                        <div class="col">
		                                            <div class="form-group">
		                                                <label class="control-label">Justificação</label>
		                                                <div>
		                                                    <input type="text" class="form-control" id="ok_justification" name="ok_justification" placeholder="Justificação" />
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div-->
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success "  >Approve request</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: silver; color: white;" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% for row in approval_requests_data %}
                        <div class="modal fade" id="recusar{{row.0}}" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Refuse</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="recusar_requisicao/{{row.0}}" method="POST">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Owner</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.37}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Creation date</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.2}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Imputable</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.22}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Cost Center</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.25}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Option Selected</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.28}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Comment </label>
                                                        <div>
                                                            <input type="text" class="form-control" id="justificacao" name="justificacao" placeholder="Reason why..." maxlength="100" required />
                                                            <p style="font-size:10px">Only 100 characters</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-danger ">Refuse request</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: silver;color:white" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% for row in approval_requests_data %}
                        <div class="modal fade" id="ver_options_1{{row.0}}" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Selected: Option 1</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="POST">
                                            <div class="row" style="background-color:#e3ffd7">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Option 1</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.29}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Transit</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.30}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Cost</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.31}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Option 2</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.32}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Transit</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.33}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Cost</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.34}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: silver" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% for row in approval_requests_data %}
                        <div class="modal fade" id="ver_options_2{{row.0}}" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Selected: Option 2</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="POST">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Option 1</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.29}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Transit</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.30}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Cost</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.31}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="background-color:#e3ffd7">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Option 2</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.32}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Transit</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.33}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label">Cost</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="name" name="name" placeholder="{{row.34}}" Disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: silver" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="static/scripts/js/datatables-simple-demo.js"></script>
{% endblock %}