{% extends 'transports/homepage_transports.html' %}
{% block content %}

<head>
    <style type="text/css">
    .row {
        font-size: 14px;
    }

    .col {
        font-size: 14px;
    }


   
    </style>
</head>

<body style="background-color:#f8f9fc">
    <div class="container.fluid">
        <div class="card shadow mb-2">
            <div class="card-header py-3">
                <div class="row" style="text-align: center;">
                    <p><strong>Standard Transport Request</strong></p>
                </div>
            </div>
            <div class="card-body">
                <form action="/add_standard_requisition_new" method="POST">
                    <div class="row">
                        <h4><b>Pick up Client / Company</b> </h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Pick up Company</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_1" class="form-control" required maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Pick up Address</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_2" class="form-control" required maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Pick up Country</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_3" class="form-control" required maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Pick up ZIP</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_4" class="form-control" required maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Pick up City</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_5" class="form-control" required maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Pick up Date</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="date" name="var_6" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Pick up Contact Name </label>
                                <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                <div>
                                    <input name="var_7" class="form-control" placeholder="Partner name" required maxlength="90">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Pick up Contact Email</label>
                                <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                <div>
                                    <input name="var_8" type="email" class="form-control" placeholder="email@something.com" required maxlength="30">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Pick up Contact Phone</label>
                                <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                <div>
                                    <input name="var_9" class="form-control" placeholder=" +351 258 249 200" required maxlength="30">
                                </div>
                            </div>
                        </div>
                        <!--div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Pick up Contact Name </label>
                                <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                <div>
                                    <input name="var_7" class="form-control" placeholder="Partner name" required maxlength="90">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Pick up Contact Email</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input name="var_8" type="email" class="form-control" placeholder="email@something.com" required maxlength="30">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Pick up Contact Phone</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input name="var_9" class="form-control" placeholder=" +351 258 249 200" required maxlength="30">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                    </div>
                    <br>
                    <div class="row">
                        <p><b>Delivery Client / Company</b> </p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery Company</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_10" class="form-control" required maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery Address</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_11" class="form-control" required maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery Country</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_12" class="form-control" required maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery ZIP</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_13" class="form-control" required maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery City</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="text" name="var_14" class="form-control" required maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Delivery Date</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="date" name="var_15" class="form-control" required maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Delivery Contact Name </label>
                                <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                <div>
                                    <input name="var_16" class="form-control" placeholder="Partner name" required maxlength="90">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Delivery Contact Email</label>
                                <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                <div>
                                    <input name="var_17" type="email" class="form-control" placeholder="email@something.com" required maxlength="60">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Delivery Contact Phone</label>
                                <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                <div>
                                    <input name="var_18" class="form-control" placeholder=" +351 258 249 200" required maxlength="60">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="teste123">
                            <p><b>Reference</b> </p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Reference / Description</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="text" name="var_19[]" class="form-control" placeholder="Reference or description" required maxlength="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Quantity</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_25[]" class="form-control" placeholder="units" required step="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"><b>Add References</b></label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary btn-block" onclick="addFields()">Add</button>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-danger btn-block" onclick="removeFields()">Remove </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><b>Dimensions</b> </p>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Nº Pallets / <label> Volumes </label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_20[]" class="form-control" placeholder="Units" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Length <label>( in cm )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_21[]" class="form-control" placeholder="in cm" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Width <label>( in cm )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_22[]" class="form-control" placeholder="in cm" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Height <label>( in cm )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_23[]" class="form-control" placeholder="in cm" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Total Weight <label>( in kgs )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_24[]" class="form-control" placeholder="in kgs" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><b>Info</b> </p>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Stackable</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <select class="form-control" type="text" name="var_26[]" required>
                                            <option value=""> Select:</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Imputable Bw</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <select class="form-control" type="text" name="var_27[]" required placeholder="coisas">
                                            <option value=""> Select:</option>
                                            <option value="Borgwarner">Borgwarner</option>
                                            <option value="Client">Client</option>
                                            <option value="Supplier">Supplier</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Supplier/Client</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="text" name="var_28[]" class="form-control" placeholder="Ex: Borgwarner" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Product Line</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <select class="form-control" type="text" name="var_30[]" required>
                                        <option value="N.A.">N.A.</option>
                                        {% for row in cost_center %}
                                        <option value="{{row.1}}"> {{row.1}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="extraFields">
                    </div>
                    
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">In system ?</label>
                            <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                            <select class="form-control" type="text" name="insystem" id="insystem" required onchange="displaysfesaso()">
                                <option value="">Select:</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label">Total Value</label>
                            <div>
                                <input name="totalvalue" type="number" class="form-control" placeholder="€" value="0">
                                <p style="font-size:13px;color: red;"><b>NOTE: Mandatory value for extra-EU imports/exports, otherwise the material will be blocked in customs clearance</b> </p>
                            </div>
                        </div>
                    </div>

                    <div id="selectioninsytem" style="display:none">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:13px;">SFE Number - <b><a href="https://borgwarner.sharepoint.com/sites/5001239/SFE/_layouts/15/FormServer.aspx?XsnLocation=/sites/5001239/SFE/SFEForms/Forms/template.xsn">Link SFE </a></b></label>
                                <div>
                                    <input name="SFE" class="form-control" placeholder="SFE">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">SO / SA</label>
                                <div>
                                    <input name="sosa" class="form-control" placeholder="SO or SA">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Observations</label>
                            <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                            <div>
                                <textarea name="var_31" class="form-control" rows="2" placeholder="Maximum of 500 characters." required></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <button type="submit" class="btn btn-primary btn-block" style="background-color:#007dc3;border-color:#007dc3;">Create Requisition</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
    <script type="text/javascript">
    var s2Clone;

    // Doesn't work in older IEs
    //CLone the Dependant drop down and hide
    document.addEventListener('DOMContentLoaded', function() {
        s2Clone = document.getElementById("s2").cloneNode(true);
        document.getElementById("s2").innerHTML = "";
    }, false);

    document.getElementById("s1").onchange = function() {
        var selected = this.value;
        var selected2 = this.value;

        //Get the nodes with a parent attribute of the selected data
        var optionsToInsert = s2Clone.querySelectorAll("[data-parent='" + selected + "']");
        //clear existing
        var s2 = document.getElementById("s2");
        s2.innerHTML = "";

        //Add The new  options.
        for (i = 0; i < optionsToInsert.length; i++) {
            s2.appendChild(optionsToInsert[i]);
        }


    }
    </script>
    <script type="text/javascript">
    var t2Clone;

    // Doesn't work in older IEs
    //CLone the Dependant drop down and hide
    document.addEventListener('DOMContentLoaded', function() {
        t2Clone = document.getElementById("t2").cloneNode(true);
        document.getElementById("t2").innerHTML = "";
    }, false);

    document.getElementById("t1").onchange = function() {
        var selected = this.value;
        var selected2 = this.value;

        //Get the nodes with a parent attribute of the selected data
        var optionsToInsert = t2Clone.querySelectorAll("[data-parent='" + selected + "']");
        //clear existing
        var t2 = document.getElementById("t2");
        t2.innerHTML = "";

        //Add The new  options.
        for (i = 0; i < optionsToInsert.length; i++) {
            t2.appendChild(optionsToInsert[i]);
        }


    }
    </script>
    <script>
    function displaysfesaso() {
        // Obter referências aos elementos HTML relevantes
        const selectioninsytem = document.getElementById('selectioninsytem');
        const insystem = document.getElementById('insystem');
        const sfeInput = document.querySelector('input[name="SFE"]');
        const sosaInput = document.querySelector('input[name="sosa"]');

        // Função para validar os campos
        function validateFields() {
            // Verificar se os campos são visíveis antes de aplicar a validação
            if (selectioninsytem.style.display !== 'none') {
                const isSfeEmpty = sfeInput.value.trim() === '';
                const isSosaEmpty = sosaInput.value.trim() === '';

                // Set custom validity based on the validation
                if (isSfeEmpty && isSosaEmpty) {
                    sfeInput.setCustomValidity('At least one field is required');
                    sosaInput.setCustomValidity('At least one field is required');
                } else {
                    sfeInput.setCustomValidity('');
                    sosaInput.setCustomValidity('');
                }
            } else {
                // Se os campos não são visíveis, remova a validação
                sfeInput.setCustomValidity('');
                sosaInput.setCustomValidity('');
            }
        }

        if (insystem.value == 'Yes') {
            selectioninsytem.style.display = 'block';

            // Set validation function for at least one field to be not empty
            sfeInput.addEventListener('input', validateFields);
            sosaInput.addEventListener('input', validateFields);

            // Remover eventos quando o estilo é 'none'
            insystem.addEventListener('change', function handleSelectionChange() {
                if (insystem.value != 'Yes') {
                    selectioninsytem.style.display = 'none';
                    sfeInput.removeEventListener('input', validateFields);
                    sosaInput.removeEventListener('input', validateFields);
                    validateFields(); // Validar inicialmente
                } else {
                    selectioninsytem.style.display = 'block';
                    sfeInput.addEventListener('input', validateFields);
                    sosaInput.addEventListener('input', validateFields);
                    validateFields(); // Validar inicialmente
                }
            });

            validateFields(); // Validação inicial
        } else {
            selectioninsytem.style.display = 'none';

            // Remover eventos quando o estilo é 'none'
            sfeInput.removeEventListener('input', validateFields);
            sosaInput.removeEventListener('input', validateFields);
            validateFields(); // Validar inicialmente
        }
    }
    </script>
    <script>
    function addFields() {
        var extraFields = document.getElementById('extraFields');

        var newFields = document.createElement('div');
        newFields.innerHTML = `
                <div class="teste">
                    <hr>
                    <p><b>New Reference</b></p>
                        <div class="row">
                            <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Reference / Description</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="text" name="var_19[]" class="form-control" placeholder="Reference or description" required maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <div>
                                        <input type="number" name="var_25[]" class="form-control" placeholder="units" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>Dimensions</b> </p>
                        <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Nº Pallets / <label> Volumes </label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_20[]" class="form-control" placeholder="Units" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Length <label>( in cm )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_21[]" class="form-control" placeholder="in cm" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Width <label>( in cm )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_22[]" class="form-control" placeholder="in cm" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Height <label>( in cm )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_23[]" class="form-control" placeholder="in cm" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Total Weight <label>( in kgs )</label></label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="number" name="var_24[]" class="form-control" placeholder="in kgs" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><b>Info</b></p>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Stackable</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <select class="form-control" type="text" name="var_26[]" required>
                                            <option value=""> Select:</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Imputable Bw</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <select class="form-control" type="text" name="var_27[]" required placeholder="coisas">
                                            <option value=""> Select:</option>
                                            <option value="Borgwarner">Borgwarner</option>
                                            <option value="Client">Client</option>
                                            <option value="Supplier">Supplier</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Supplier/Client</label>
                                        <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                        <div>
                                            <input type="text" name="var_28[]" class="form-control" placeholder="Ex: Borgwarner" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Product Line</label>
                                    <label class="control-label" style="font-size:16px;color: red;font-weight: 800;">*</label>
                                    <select class="form-control" type="text" name="var_30[]" required>
                                        <option value="N.A.">N.A.</option>
                                        {% for row in cost_center %}
                                        <option value="{{row.1}}"> {{row.1}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        
                    </div>
                </div>
                `;

        extraFields.appendChild(newFields);
    }

    function removeFields() {
        var extraFields = document.getElementById('extraFields');
        var fields = extraFields.getElementsByClassName('teste');
        console.log(fields)
        if (fields.length > 0) {
            var lastField = fields[fields.length - 1];
            var parentRow = lastField.closest('.teste');

            if (parentRow) {
                console.log('Removing parent row:', parentRow);
                parentRow.remove();
            } else {
                console.log('Parent row not found');
            }
        } else {
            console.log('No rows to remove');
        }
    }
    </script>

   <script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
    <script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
    <!-- Core plugin JavaScript-->
    <script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
 
    <!-- Page level plugins -->
    <script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
 
    <!-- Page level custom scripts -->
    <script src="static/plat_static/js/demo/datatables-demo.js"></script>
</body>
{% endblock %}