{% extends 'transports/homepage_transports.html' %}
{% block content %}

<head>
 

    <style type="text/css">
    #coisas {
        margin-left: 5px;
        margin-right: 5px;
    }
    </style>
</head>

<body>
    <div class="container.fluid" id="coisas">
        <div class="card mb-4 mt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mt-4">Status My Requisitions</h3>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table table-striped  table-responsive" data-search="true" data-toggle="table" data-show-export="false" data-show-columns="false" data-show-multi-sort="false" data-pagination="true" data-toolbar="#toolbar" data-show-toggle="true" data-resizable="true">
                    <thead id="box" class="bg-light">
                        <tr>
                            <th data-field="0" data-sortable="true">InternalCode</th>
                            <th data-field="1" data-sortable="true">PDF</th>
                            <th data-field="2" data-sortable="true">Creation Date</th>
                            <th data-field="3" data-sortable="true">Owner</th>
                            <th data-field="4" data-sortable="false">Pickup Company</th>
                            <th data-field="5" data-sortable="true">Pickup Address</th>
                            <th data-field="6" data-sortable="true">Pickup Country</th>
                            <th data-field="7" data-sortable="true">Pickup Zip</th>
                            <th data-field="8" data-sortable="true">Pickup City</th>
                            <th data-field="9" data-sortable="true">Pickup Date</th>
                            <th data-field="10" data-sortable="false">Contact Name</th>
                            <th data-field="11" data-sortable="true">Contact Email</th>
                            <th data-field="12" data-sortable="true">Contact Phone</th>
                            <th data-field="13" data-sortable="true">Delivery Company</th>
                            <th data-field="14" data-sortable="true">Delivery Address</th>
                            <th data-field="15" data-sortable="false">Delivery. Country</th>
                            <th data-field="16" data-sortable="false">Delivery Zip</th>
                            <th data-field="17" data-sortable="false">Delivery City</th>
                            <th data-field="18" data-sortable="false">Delivery Date</th>
                            <th data-field="19" data-sortable="false">Contact Name</th>
                            <th data-field="20" data-sortable="false">Contact Email</th>
                            <th data-field="21" data-sortable="false">Contact Phone</th>
                            <th data-field="22" data-sortable="false">In System</th>
                            <th data-field="23" data-sortable="false">SFE Number</th>
                            <th data-field="24" data-sortable="false">SO / SA Number</th>
                            <th data-field="25" data-sortable="false">Total Value</th>
                            <th data-field="26" data-sortable="false">Observations</th>
                            <th data-field="27" data-sortable="false">References</th>
                            <th data-field="28" data-sortable="false">Carrier</th>
                            <th data-field="29" data-sortable="false">Waybill</th>
                            <th data-field="30" data-sortable="false">ExpeditionDate</th>
                            <th data-field="31" data-sortable="false">ExpeditionTime</th>
                            <th data-field="32" data-sortable="false">WareHouse Owner</th>
                            <th data-field="33" data-sortable="false">WareHouse State</th>
                            <!--th data-field="34" data-sortable="false"></th-->
                        </tr>
                    </thead>
                    <tbody id="tableInfos">
                        <tr>{% for row in transports_request_data %}
                            <td>{{row.1}}</td>
                            <td><a href="/download_pdf_req_standard/{{row.0}}" class="btn btn-success" style="background-color:#16d579; color: white;"><i class="fas fa-download"></i></a></td>
                            <td>{{row.2}}</td>
                            <td>{{row.3}}</td>
                            <td>{{row.4}}</td>
                            <td>{{row.5}}</td>
                            <td>{{row.6}}</td>
                            <td>{{row.7}}</td>
                            <td>{{row.8}}</td>
                            <td>{{row.9}}</td>
                            <td>{{row.10}}</td>
                            <td>{{row.11}}</td>
                            <td>{{row.12}}</td>
                            <td>{{row.13}}</td>
                            <td>{{row.14}}</td>
                            <td>{{row.15}}</td>
                            <td>{{row.16}}</td>
                            <td>{{row.17}}</td>
                            <td>{{row.18}}</td>
                            <td>{{row.19}}</td>
                            <td>{{row.20}}</td>
                            <td>{{row.21}}</td>
                            <td>{{row.22}}</td>
                            <td>{{row.23}}</td>
                            <td>{{row.24}}</td>
                            <td>{{row.25}}</td>
                            <td>{{row.26}}</td>
                            <td><button type="button" class="btn btn-primary" onclick="abrirModal({{row.0}})"><i class="fa fa-info-circle" aria-hidden="true"></i></button></td>
                            <td>{{row.27}}</td>
                            <td>{{row.28}}</td>
                            <td>{{row.30}}</td>
                            <td>{{row.31}}</td>
                            <td>{{row.32}}</td>
                            {% if row.29 == 'Sem Abrir' %}
                            <td style="background-color:#f8d2d2"> Sem Abrir</td>
                            <!--td><button type="button" class="btn btn-warning" style="color:white;background-color: orange;" data-toggle="modal" data-target="#editar_estado{{row.0}}">Alterar Dados</button></td-->
                            {% elif row.29 == 'Incompleto' %}
                            <td style="background-color:#FFD3A4"> Incompleto</td>
                            <!--td><button type="button" class="btn btn-warning" style="color:white;background-color: orange;" data-toggle="modal" data-target="#editar_estado{{row.0}}">Alterar Dados</button></td-->
                            {% elif row.29 == 'Completo' %}
                            <td style="background-color:#d2f8d2"> Completo</td>
                            <!--td></td-->
                            {% else %}
                            <td></td>
                            <!--td><button type="button" class="btn btn-warning" style="color:white;background-color: orange;" data-toggle="modal" data-target="#editar_estado{{row.0}}">Alterar Dados</button></td-->
                            {% endif %}
                        </tr>
                        <!--div class="modal fade" id="editar_estado{{row.0}}" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Request Nº - {{row.1}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="edit_transports_standard_req/{{row.0}}" method="POST">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Reference 1</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_1" name="var_1" value="{{row.22}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Reference 2</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_2" name="var_2" value="{{row.23}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Reference 3</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_3" name="var_3" value="{{row.24}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Reference 4</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_4" name="var_4" value="{{row.25}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Reference 5</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_5" name="var_5" value="{{row.26}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Imputable</strong></label>
                                                        <select class="form-control" type="text" name="var_6" id="var_6" required>
                                                            <option value="{{row.29}}">{{row.29}}</option>
                                                            <option value="Borgwarner">Borgwarner</option>
                                                            <option value="Client">Client</option>
                                                            <option value="Supplier">Supplier</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Supplier / Client</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_7" name="var_7" value="{{row.30}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Line</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_8" name="var_8" value="{{row.31}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Transport Type</strong></label>
                                                        <select class="form-control" type="text" name="var_9" id="var_9" required>
                                                            <option value="{{row.37}}">{{row.37}}</option>
                                                            <option value="Air">Air</option>
                                                            <option value="Rail">Rail</option>
                                                            <option value="Sea">Sea</option>
                                                            <option value="Truck">Truck</option>
                                                            <option value="Van">Van</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px;"><strong>Observations</strong></label>
                                                        
                                                        <div>
                                                            <input type="text" class="form-control" id="var_10" name="var_10" value="{{row.35}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Contact Name</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_11" name="var_11" value="{{row.38}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Contact Email</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_12" name="var_12" value="{{row.39}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>Contact Number</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_13" name="var_13" value="{{row.40}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>SFE</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_14" name="var_14" value="{{row.41}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="control-label" style="font-size:16px"><strong>SO / SA</strong></label>
                                                        <div>
                                                            <input type="text" class="form-control" id="var_15" name="var_15" value="{{row.42}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary ">Change data</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: silver; color: white;" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div-->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for row in transports_request_data %}
    <div id="get_info{{row.0}}" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Request {{row.1}}</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table id="table" class="table table-striped " data-toggle="table" >
                            <thead id="box" class="bg-light">
                                <tr>
                                    <th data-field="1" data-sortable="true">Reference</th>
                                    <th data-field="2" data-sortable="true">Qty.</th>
                                    <th data-field="3" data-sortable="true">Lenght</th>
                                    <th data-field="4" data-sortable="true">Width</th>
                                    <th data-field="5" data-sortable="true">Height</th>
                                    <th data-field="6" data-sortable="true">Weight</th>
                                    <th data-field="7" data-sortable="true">Volume</th>
                                    <th data-field="8" data-sortable="true">Stackable</th>
                                    <th data-field="9" data-sortable="true">Imputable</th>
                                    <th data-field="10" data-sortable="true">Supplier/Client</th>
                                    <th data-field="11" data-sortable="true">Product Line</th>
                                </tr>
                            </thead>
                            <tbody id="tableInfos2{{row.0}}">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
<script type="text/javascript">
function abrirModal(index) {
    var modal = document.getElementById('get_info' + index);
    var bootstrapModal = new bootstrap.Modal(modal);
    bootstrapModal.show();

    // Uncomment the fetch code if you want to fetch data from the server


    const tableInfos = document.getElementById('tableInfos2'+ index);

    fetch('/get_info?id=' + index + '&format=json', {
        method: 'GET',
        headers: {
            'Accept': 'application/json'
        }
    }).then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        // Limpa a tabela antes de adicionar novos dados
        tableInfos.innerHTML = '';

        // Itera sobre os dados e adiciona linhas à tabela
        data.forEach(item => {
            var row = "<tr>";
            row += "<td>" + item['Reference'] + "</td>";
            row += "<td>" + item['PalletQty'] + "</td>";
            row += "<td>" + item['PalletLenght'] + "</td>";
            row += "<td>" + item['PalletWidth'] + "</td>";
            row += "<td>" + item['PalletHeight'] + "</td>";
            row += "<td>" + item['TotalWeight'] + "</td>";
            row += "<td>" + item['TotalVolume'] + "</td>";
            row += "<td>" + item['Stackable'] + "</td>";
            row += "<td>" + item['Imputable'] + "</td>";
            row += "<td>" + item['SupplierClient'] + "</td>";
            row += "<td>" + item['ProdLine'] + "</td>";
            /*for (var key in item) {
                row +="<td>" + item['Reference'] + "</td>";
                 "<td>" + item['PalletType'] + "</td>";
                console.log(item[key])
            } */
            row += "</tr>";
            tableInfos.innerHTML += row;
        });
    }).catch(error => {
        console.error('Erro ao obter dados:', error);
    });

}
</script>

</html>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="static/scripts/js/datatables-simple-demo.js"></script>
{% endblock %}

