{% extends 'home.html' %}
{% block content %}

<head>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <style type="text/css">
    #coisas {
        margin-left: 5px;
        margin-right: 5px;
    }
    </style>
</head>

<body>
    <div class="container.fluid" id="coisas">
        
        <div class="card mb-4 mt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mt-4">Transport Request</h3>
                    </div>
                    <div class="col-md-6">
                        {% with messages = get_flashed_messages(with_categories=true,category_filter=["error","info","success","warning"]) %}
                        {% if messages %}
                        {% for category,message in messages %}
                        {% if category == 'warning' %}
                        <div class="alert alert-warning" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% elif category == 'info' %}
                        <div class="alert alert-info" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% elif category == 'success' %}
                        <div class="alert alert-success" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% elif category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table table-striped " data-search="true" data-toggle="table" data-show-export="false" data-show-columns="false" data-show-multi-sort="false" data-pagination="true" data-toolbar="#toolbar" data-show-toggle="true" data-resizable="true">
                    <thead id="box" class="bg-light">
                        <tr>
                            <th data-field="1" data-sortable="true">Code</th>
                            <th data-field="2" data-sortable="true">Creation Date</th>
                            <th data-field="3" data-sortable="true">Estado</th>
                            <th data-field="4" data-sortable="true">Option selected</th>
                            <th data-field="5" data-sortable="false">Action</th>
                            <th data-field="6" data-sortable="true">PickUp address</th>
                            <th data-field="7" data-sortable="false">PickUp Company</th>
                            <th data-field="8" data-sortable="true">PickUp Country</th>
                            <th data-field="9" data-sortable="true">PickUp Date</th>
                            <th data-field="10" data-sortable="true">Delivery address</th>
                            <th data-field="11" data-sortable="true">Delivery Company</th>
                            <th data-field="12" data-sortable="false">Delivery Country</th>
                            <th data-field="13" data-sortable="false">Delivery Date</th>
                            <th data-field="14" data-sortable="false">Qtd. Pallets</th>
                            <th data-field="15" data-sortable="false">Lenght</th>
                            <th data-field="16" data-sortable="false">Width</th>
                            <th data-field="17" data-sortable="false">Height</th>
                            <th data-field="18" data-sortable="false">Weight</th>
                            <th data-field="19" data-sortable="false">Volume</th>
                            <th data-field="20" data-sortable="false">Reference 1</th>
                            <th data-field="21" data-sortable="false">Reference 2</th>
                            <th data-field="22" data-sortable="false">Reference 3</th>
                            <th data-field="23" data-sortable="false">Imputable</th>
                            <th data-field="24" data-sortable="false">Suppplier/Client</th>
                            <th data-field="25" data-sortable="false">Line</th>
                            <th data-field="26" data-sortable="false">Cost Center</th>
                            <th data-field="27" data-sortable="false">Urgent</th>
                            <th data-field="28" data-sortable="false">Justification</th>
                        </tr>
                    </thead>
                    <tbody id="tableInfos">
                        <tr>{% for row in transports_request_data %}
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            {% if row.39 == None %}
                            <td style="background-color:#FFD3A4;color: black;">Waiting for selection </td>
                            {% elif row.39 == 'Open' %}
                            <td style="background-color:#d2f8d2;color: black;">Waiting approval supervisor</td>
                            {% else %}
                            <td style="background-color:#F5F0EB;color: black;">Closed</td>
                            {% endif %}
                            {% if row.28 == None %}
                            <td>Not Selected</td>
                            {% elif row.28 == 1 %}
                            <td style="background-color:#FFD3A4;color: white;">Option {{row.28}}</td>
                            {% else %}
                            <td style="background-color:#A4D0FF;color: white;">Option {{row.28}}</td>
                            {% endif %}
                            <td><button type="button" class="btn btn-success sm" data-toggle="modal" data-target="#adicionar_opcao{{row.0}}">Option</button></td>
                            <td style="background-color:#16d579;color: white;">{{row.3}}</td>
                            <td style="background-color:#16d579;color: white;">{{row.4}}</td>
                            <td style="background-color:#16d579;color: white;">{{row.5}}</td>
                            <td style="background-color:#16d579;color: white;">{{row.9}}</td>
                            <td style="background-color:#0e8587;color: white;">{{row.6}}</td>
                            <td style="background-color:#0e8587;color: white;">{{row.7}}</td>
                            <td style="background-color:#0e8587;color: white;">{{row.8}}</td>
                            <td style="background-color:#0e8587;color: white;">{{row.10}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.11}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.12}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.13}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.14}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.15}}</td>
                            <td style="background-color:#73e1b1;color: white;">{{row.16}}</td>
                            <td>{{row.17}}</td>
                            <td>{{row.18}}</td>
                            <td>{{row.19}}</td>
                            <td>{{row.22}}</td>
                            <td>{{row.23}}</td>
                            <td>{{row.24}}</td>
                            <td>{{row.25}}</td>
                            <td>{{row.26}}</td>
                            <td>{{row.27}}</td>
                        </tr>{% endfor %}
                    </tbody>
                    {% for row in transports_request_data %}
                    <div class="modal fade" id="adicionar_opcao{{row.0}}" role="dialog">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add Option</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="option_add/{{row.0}}" method="POST">
                                        <input type="hidden" name="requester" value="{{row.36}}">
                                        <input type="hidden" name="internal_code" value="{{row.1}}">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Code</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="name" name="name" placeholder="{{row.1}}" Disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Date</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="name" name="name" placeholder="{{row.2}}" Disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Requester</label>
                                                    <div>
                                                        <input type="input" class="form-control" placeholder="{{row.36}}" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Total weight</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="name" name="name" placeholder="{{row.12}} Kgs" Disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Volume</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="name" name="name" placeholder="{{row.13}} m³" Disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Option 1</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="option_1_name" name="option_1_name" placeholder="Option 1" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Cost €</label>
                                                    <div>
                                                        <input type="number" class="form-control" id="option_1_price" name="option_1_price" min="0" step="0.01" placeholder="Cost" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Transit Time</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="option_1_date" name="option_1_date" placeholder="Transit time" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Option 2</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="option_2_name" name="option_2_name" placeholder="Option 2" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Cost €</label>
                                                    <div>
                                                        <input type="number" class="form-control" id="option_2_price" name="option_2_price" min="0" step="0.01" placeholder="Cost" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label">Transit Time</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="option_2_date" name="option_2_date" placeholder="Transit time" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Category</label>
                                                    <select class="form-control" type="text" name="classificacao_transport" id="classificacao_transport" required>
                                                        <option value="">Select:</option>
                                                        {% for row in category %}
                                                        <option value="{{row.1}}">{{row.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Cost Center *</label>
                                                    <select class="form-control" type="text" name="centro_custo_financial" id="centro_custo_financial" required>
                                                        <option value="">Select:</option>
                                                        {% for row in cost_center_financial %}
                                                        <option value="{{row.1}}">{{row.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Urgent</label>
                                                    <select class="form-control" type="text" name="var_22" id="var_22" required>
                                                        <option value="">Select:</option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary ">Adicionar</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Atenção colocar o Footer senao 2a modal nao funciona -->
                                <div class="modal-footer">
                                    <button type="button" class="btn" style="background-color: silver" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>
        </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="static/scripts/js/datatables-simple-demo.js"></script>
{% endblock %}