{% extends 'preventive/preventive.html' %} {% block content %}
<style>
  .tableFixHead {
    overflow-y: auto;
    height: 500px;
  }

  td {
    font-size: 0.91rem;
  }
</style>

<div class="col-md-12">{% include "messages/messages.html" %}</div>

<div class="container mt-4">
  <form class="form-inline">
    <div class="form-group mb-2 mr-2">
      <input
        type="text"
        class="form-control form-control-sm"
        id="filter_order"
        name="filter_order"
        placeholder="Ordem"
        value="{{ request.args.get('filter_order', '') }}" />
    </div>
    <div class="form-group mb-2">
      <input
        type="text"
        class="form-control form-control-sm"
        id="filter_cost"
        name="filter_cost"
        placeholder="Centro de Custo"
        value="{{ request.args.get('filter_cost', '') }}" />
    </div>

    <div class="form-group mb-2 ml-3">
      <select
        class="form-control form-control-sm"
        id="filter_status"
        name="filter_status">
        <option value="" disabled selected hidden>Selecione o Status</option>
        <option value="atrasadas">Atrasadas</option>
        <option value="emdia">Em Dia</option>
      </select>
    </div>

    <div class="form-group mb-2 ml-3">
      <label for="start_date" class="mr-2">De</label>
      <input
        type="date"
        class="form-control form-control-sm"
        id="start_date"
        name="start_date"
        value="{{ request.args.get('start_date', '') }}" />
    </div>
    <div class="form-group mb-2 ml-3">
      <label for="end_date" class="mr-2">Até</label>
      <input
        type="date"
        class="form-control form-control-sm"
        id="end_date"
        name="end_date"
        value="{{ request.args.get('end_date', '') }}" />
    </div>
    <button type="submit" class="btn btn-sm btn-primary ml-3 mb-2">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <a href="/preventive" class="btn btn-sm btn-danger ml-3 mb-2"
      ><i class="fa-solid fa-broom mr-1"></i>Limpar</a
    >
  </form>
</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <h5 class="m-0 text-center">Em Curso</h5>
  </div>

  <div class="card-body">
    <div class="table-responsive tableFixHead">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ordem</th>
            <th>Linha</th>
            <th>Técnico</th>
            <th>Equipamento</th>
            <th>Descrição</th>
            <th>Denominação</th>
            <th>Data Início</th>
            <th>Plano de Manutenção</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if finished_orders_data|length == 0 %}
          <tr>
            <td colspan="11" class="text-center">Sem preventivas em curso</td>
          </tr>
          {% else %} {% for order in finished_orders_data %}
          <tr>
            <td>{{ order.order_number }}</td>
            <td>{{ order.cost_center }}</td>
            <td>{{ order.mt_name }} - {{order.mt_num}}</td>
            <td>{{ order.equipament }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.denomination }}</td>
            <td class="data">{{ order.data_inicio }}</td>
            <td>{{ order.maintenance_plan }}</td>
            <td>
              <button
                class="btn btn-secondary"
                onclick="showGamas('{{ order.equipament }}')">
                <i class="fa-regular fa-rectangle-list"></i>
              </button>
              {% if order.id_estado == 5 %}
              <button
                class="btn btn-success"
                onclick="retomarIntervencao('{{ order.id }}')">
                <i class="fa-solid fa-play"></i>
              </button>
              {% else %}
              <button
                class="btn btn-warning"
                onclick="pausarIntervencao('{{ order.id }}')">
                <i class="fa-solid fa-pause" style="color: white"></i>
              </button>
              <button
                class="btn btn-danger"
                onclick="abrirModalFinalizar('{{ order.id }}')">
                <i class="fa-solid fa-stop"></i>
              </button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}{% endif %}
        </tbody>
      </table>
      {% include "preventive/components/pagination2.html" %}
    </div>
  </div>
</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <div class="d-flex justify-content-start align-items-center mb-3">
      <h5 class="m-0 text-center col-lg-12">Pendentes</h5>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive tableFixHead">
      <table id="orders" class="table table-striped">
        <thead>
          <tr>
            <th>Ordem</th>
            <th>Centro de Custo</th>
            <th>Equipamento</th>
            <th>Descrição</th>
            <th>Local Funcional</th>
            <th>Denominação</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Plano de Manutenção</th>
            <th>Iniciar</th>
          </tr>
        </thead>
        <tbody>
          {% if preventive|length == 0 %}
          <tr>
            <td colspan="10" class="text-center">Sem preventivas pendentes</td>
          </tr>
          {% else %} {% for prev in preventive %}
          <tr>
            <td>{{ prev.order }}</td>
            <td>{{ prev.cost_center }}</td>
            <td>{{ prev.equipament }}</td>
            <td>{{ prev.description }}</td>
            <td>{{ prev.functional_location }}</td>
            <td>{{ prev.denomination }}</td>
            <td class="data">{{ prev.start_date }}</td>
            <td class="data">{{ prev.end_date }}</td>
            <td>{{ prev.maintenance_plan }}</td>
            <td>
              <button
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#loginPreventive"
                data-order="{{ prev.order }}">
                <i class="fa-solid fa-play"></i>
              </button>
            </td>
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>

      {% include "preventive/components/pagination.html" %}
    </div>
  </div>
</div>

{% include "preventive/components/login.html" %} {% include
"preventive/components/endPreventive.html" %} {% include
"preventive/components/showGamas.html" %}

<script>

  {% include "preventive/js/preventive.js" %}

  function showGamas(equipment) {
    $.ajax({
      url: '/api/get_gamas',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ equipment: equipment }),
      beforeSend: function() {
        $('#modalContent').html('Carregando...');
      },
      success: function(response) {
        $('#gamasModalLabel').text('Lista de Tarefas do Equipamento - ' + equipment);

        var pdfButton = `
          <button type="button" class="btn btn-outline-danger" onclick="redirectToPdf('${equipment}')">
            <i class="fa-solid fa-file-pdf"></i>
          </button>
        `;
        $('#pdfButtonContainer').html(pdfButton);

        let html = '';

        if (response.length > 0) {
          html += '<table class="table table-striped">';
          html += '<thead><tr><th>Descrição</th><th>Tarefas</th><th>Periodicidade</th><th>Status</th><th>Realizado?</th></tr></thead>';
          html += '<tbody>';
          response.forEach(function(item) {
            let statusLabel = '';
            let acao = '';
            if (item.overdue) {
              statusLabel = '<span class="badge bg-danger">Atrasado (' + item.dias_desde_execucao + ' dias)</span>';
              acao = '<input type="checkbox" class="gama-checkbox" value="'+ item.equipment_gama_id +'">';
            } else {
              statusLabel = '<span class="badge bg-success">Em dia (' + item.dias_desde_execucao + ' dias desde a última execução)</span>';
              acao = '';
            }

            html += '<tr>';
            html += '<td>' + item.gama_descricao + '</td>';
            html += '<td><a href="/view_tarefas/' + item.gama_id + '" target="_blank" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye mr-1"></i><i class="fa-solid fa-file-pdf"></i></a></td>';
            html += '<td>' + item.periodicidade + '</td>';
            html += '<td>' + statusLabel + '</td>';
            html += '<td>' + acao + '</td>';
            html += '</tr>';
          });
          html += '</tbody></table>';

        } else {
          html = 'Nenhuma gama encontrada para este equipamento.';
        }
        $('#modalContent').html(html);
        $('#gamasModal').modal('show');
      },

      error: function(xhr, status, error) {
        console.error("Erro na requisição:", error);
        $('#modalContent').html('Erro ao carregar dados.');
        $('#gamasModal').modal('show');
      }
    });
  }

  function redirectToPdf(equipment) {
    var baseUrl = 'https://borgwarner.sharepoint.com/sites/5001238/MaintenanceT3Viana/Machine%20Documents/';
    var pdfUrl = baseUrl + encodeURIComponent(equipment);
    window.open(pdfUrl, '_blank');
  }


  function editSelectedGamas(currentEquipment) {
    let selectedIds = [];
    $('.gama-checkbox:checked').each(function() {
      selectedIds.push($(this).val());
    });
    if(selectedIds.length === 0) {
      alert('Nenhuma tarefa selecionada para marcar como feita.');
      return;
    }
    $.ajax({
      url: '/api/update_gamas',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ equipment_gama_ids: selectedIds }),
      success: function(response) {
        window.location.reload()
      },
      error: function(xhr, status, error) {
        console.error("Erro na atualização:", error);
        alert('Erro ao atualizar gamas.');
      }
    });
  }
</script>
{% endblock %}
