{% extends 'mrp/homepage_mrp.html' %}
{% block content %}

<head>
    <style type="text/css">
    .ball {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        margin: 10px;
    }
    </style>
    <link href="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-2 ml-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card shadow mb-2 ml-1">
                            <div class="card-header ">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/status_mrp" class="btn btn-info btn-block">Go Back</a>
                                    </div>
                                    <div class="col-md-8">
                                        <p style="text-align: center"><b>Insert Multiple rows </b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form action="/add_multiple_shipment_requests" method="POST">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Copy rows directly from your file</label>
                                                        <p style="color: red;">*Max 25 Lines</p>
                                                        <div>
                                                            <textarea id="lines" class="form-control" name="lines" rows="7" cols="50" maxlength="4000" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-primary btn-block ">Insert Data</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="/delete_multiple_shipment_requests" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all these records?')">Delete all records</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-12">
                                        <br>
                                        {% with messages = get_flashed_messages(with_categories=true,category_filter=["error","info","success","warning"]) %}
                                        {% if messages %}
                                        {% for category,message in messages %}
                                        {% if category == 'warning' %}
                                        <div class="alert alert-warning mt-2" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% elif category == 'info' %}
                                        <div class="alert alert-info mt-2" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% elif category == 'success' %}
                                        <div class="alert alert-success mt-2" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% elif category == 'error' %}
                                        <div class="alert alert-danger mt-2" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button btn-block" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow mb-2 ml-1">
                            <div class="card-header ">
                                <p style="text-align: center"><b>Guide</b></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <p style="margin: 10px;font-size: 14px; ">This page allows selecting multiple rows and copying them into the field. After that, it's necessary to press <a href="" class="btn btn-success">Validate Data</a>.</p>
                                </div>
                                <div class="row">
                                    <p style="margin: 10px;font-size: 14px;">If you need to delete all the data in the table, <br>press the button. <a href="" class="btn btn-danger">Delete all records</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <p style="text-align: center"><b>Filters</b></p>
                                <form action="status_mrp_multiple_temp_filters" method="POST">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p style="text-align:center;">By PartNumber:</p>
                                                <select class="form-control" name="filter_reference" id="filter_reference" type="text">
                                                    {% if session.filter_reference_temp is none %}
                                                    <option value="None">Select route</option>
                                                    {% elif session.filter_reference_temp %}
                                                    <option value="{{session.filter_reference_temp}}">{{session.filter_reference_temp}}</option>
                                                    {% else %}
                                                    <option value="{{session.filter_reference_temp}}">{{session.filter_reference_temp}}</option>
                                                    {% endif %}
                                                    {% for row in MRPGetFiltersTempReference %}
                                                    <option value="{{row.0}}">{{row.0}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p style="text-align:center;">By Customer:</p>
                                                <select class="form-control" name="filter_client" id="filter_client" type="text">
                                                    {% if session.filter_client_temp is none %}
                                                    <option value="None">Select route</option>
                                                    {% elif session.filter_client %}
                                                    <option value="{{session.filter_client_temp}}">{{session.filter_client_temp}}</option>
                                                    {% else %}
                                                    <option value="{{session.filter_client_temp}}">{{session.filter_client_temp}}</option>
                                                    {% endif %}
                                                    {% for row in MRPGetFiltersTempClient %}
                                                    <option value="{{row.0}}">{{row.0}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p style="text-align:center;">By ShipTo Name:</p>
                                                <select class="form-control" name="filter_factory" id="filter_factory" type="text">
                                                    {% if session.filter_factory_temp is none %}
                                                    <option value="None">Select route</option>
                                                    {% elif session.filter_factory_temp %}
                                                    <option value="{{session.filter_factory_temp}}">{{session.filter_factory_temp}}</option>
                                                    {% else %}
                                                    <option value="{{session.filter_factory_temp}}">{{session.filter_factory_temp}}</option>
                                                    {% endif %}
                                                    {% for row in MRPGetFiltersTempFactory %}
                                                    <option value="{{row.0}}">{{row.0}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p style="text-align:center;">By Route:</p>
                                                <select class="form-control" name="filter_route" id="filter_route" type="text">
                                                    {% if session.filter_route_temp is none %}
                                                    <option value="None">Select route</option>
                                                    {% elif session.filter_route_temp %}
                                                    <option value="{{session.filter_route_temp}}">{{session.filter_route_temp}}</option>
                                                    {% else %}
                                                    <option value="{{session.filter_route_temp}}">{{session.filter_route_temp}}</option>
                                                    {% endif %}
                                                    {% for row in MRPGetFiltersTempRoute %}
                                                    <option value="{{row.0}}">{{row.0}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p style="text-align:center;">By MRP:</p>
                                                <select class="form-control" name="filter_mrp" id="filter_mrp" type="text">
                                                    {% if session.filter_mrp_temp is none %}
                                                    <option value="None">Select route</option>
                                                    {% elif session.filter_mrp_temp %}
                                                    <option value="{{session.filter_mrp_temp}}">{{session.filter_mrp_temp}}</option>
                                                    {% else %}
                                                    <option value="{{session.filter_mrp_temp}}">{{session.filter_mrp_temp}}</option>
                                                    {% endif %}
                                                    {% for row in MRPGetFiltersTempMRP %}
                                                    <option value="{{row.0}}">{{row.0}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block ">Apply filters</button>
                                                <a href="/status_mrp_multiple_temp_remove_filters" class="btn btn-danger btn-block" onclick="return confirm('Are you sure you want to remove the filters ?')">Clear filters</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-2 ml-1">
            <div class="card-header ">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/validate_all_data_temp" class="btn btn-success btn-block" onclick="return confirm('Are you sure you want to validate all the data in this table?')">Validate Data</a>
                    </div>
                    <div class="col-md-4">
                        <p style="text-align: center;font-size: 18px;"><b>Temporary Fields</b></p>
                    </div>
                    <div class="col-md-4">
                        <!--form action="status_mrp_multiple_temp_filters" method="POST">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p style="text-align:center;">By Reference:</p>
                                        <select class="form-control" name="filter_reference" id="filter_reference" type="text">
                                            {% if session.filter_reference_temp is none %}
                                            <option value="None">Select route</option>
                                            {% elif session.filter_reference_temp %}
                                            <option value="{{session.filter_reference_temp}}">{{session.filter_reference_temp}}</option>
                                            {% else %}
                                            <option value="{{session.filter_reference_temp}}">{{session.filter_reference_temp}}</option>
                                            {% endif %}
                                            {% for row in MRPGetFiltersTempReference %}
                                            <option value="{{row.0}}">{{row.0}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p style="text-align:center;">By Client:</p>
                                        <select class="form-control" name="filter_client" id="filter_client" type="text">
                                            {% if session.filter_client_temp is none %}
                                            <option value="None">Select route</option>
                                            {% elif session.filter_client %}
                                            <option value="{{session.filter_client_temp}}">{{session.filter_client_temp}}</option>
                                            {% else %}
                                            <option value="{{session.filter_client_temp}}">{{session.filter_client_temp}}</option>
                                            {% endif %}
                                            {% for row in MRPGetFiltersTempClient %}
                                            <option value="{{row.0}}">{{row.0}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p style="text-align:center;">By Factory:</p>
                                        <select class="form-control" name="filter_factory" id="filter_factory" type="text">
                                            {% if session.filter_factory_temp is none %}
                                            <option value="None">Select route</option>
                                            {% elif session.filter_factory_temp %}
                                            <option value="{{session.filter_factory_temp}}">{{session.filter_factory_temp}}</option>
                                            {% else %}
                                            <option value="{{session.filter_factory_temp}}">{{session.filter_factory_temp}}</option>
                                            {% endif %}
                                            {% for row in MRPGetFiltersTempFactory %}
                                            <option value="{{row.0}}">{{row.0}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p style="text-align:center;">By Route:</p>
                                        <select class="form-control" name="filter_route" id="filter_route" type="text">
                                            {% if session.filter_route_temp is none %}
                                            <option value="None">Select route</option>
                                            {% elif session.filter_route_temp %}
                                            <option value="{{session.filter_route_temp}}">{{session.filter_route_temp}}</option>
                                            {% else %}
                                            <option value="{{session.filter_route_temp}}">{{session.filter_route_temp}}</option>
                                            {% endif %}
                                            {% for row in MRPGetFiltersTempRoute %}
                                            <option value="{{row.0}}">{{row.0}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p style="text-align:center;">By MRP:</p>
                                        <select class="form-control" name="filter_mrp" id="filter_mrp" type="text">
                                            {% if session.filter_mrp_temp is none %}
                                            <option value="None">Select route</option>
                                            {% elif session.filter_mrp_temp %}
                                            <option value="{{session.filter_mrp_temp}}">{{session.filter_mrp_temp}}</option>
                                            {% else %}
                                            <option value="{{session.filter_mrp_temp}}">{{session.filter_mrp_temp}}</option>
                                            {% endif %}
                                            {% for row in MRPGetFiltersTempMRP %}
                                            <option value="{{row.0}}">{{row.0}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block ">Apply filters</button>
                                        <a href="/status_mrp_multiple_temp_remove_filters" class="btn btn-info btn-block" onclick="return confirm('Are you sure you want to remove the filters ?')">Clean filters</a>
                                    </div>
                                </div>
                            </div>
                        </form-->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="table" class="table table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">PartNumber</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">ShipTo Name</th>
                                    <th scope="col">ShipTo</th>
                                    <th scope="col">Quantity</th>
                                    <!--th scope="col">Num.Pallets</th>
                                    <th scope="col">Weight</th-->
                                    <th scope="col">Date</th>
                                    <th scope="col">Route</th>
                                    <th scope="col">Dispatch</th>
                                    <th scope="col">Comments</th>
                                    <th scope="col">SO/SA</th>
                                    <th scope="col">MRP</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in MRPGetRequeststemp %}
                                <tr>
                                    <td>{{row.3}}</td>
                                    <td>{{row.4}}</td>
                                    <td>{{row.5}}</td>
                                    <td>{{row.6}}</td>
                                    <td>{{row.7}}</td>
                                    <!--td>{{row.8}}</td>
                                    <td>{{row.9}}</td-->
                                    <td>{{row.10}}</td>
                                    <td>{{row.11}}</td>
                                    <td>{{row.12}}</td>
                                    <td>{{row.13}}</td>
                                    <td>{{row.14}}</td>
                                    <td>{{row.15}}</td>
                                    <td><a class="btn btn-primary" data-toggle="modal" data-target="#edit_mrp{{row.0}}" style="background-color: orange;border-color:orange; color: white;"><i class="fas fa-eraser"></i></a></td>
                                    <td><a href="/delete_status_mrp_multiple_page/{{row.0}}" class="btn btn-danger" onclick="return confirm('Do you want do delete this record ??')"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                </tr>
                                {% endfor %}
                                {% for row in MRPGetRequeststemp %}
                                <div class="modal fade" id="edit_mrp{{row.0}}" role="dialog">
                                    <div class="modal-dialog modal-md">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Shipment Order Edit Form</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/edit_status_mrp_multiple_page/{{row.0}}" method="POST">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Reference</label>
                                                                <div>
                                                                    <input type="text" id="reference" name="reference" class="form-control" value="{{row.3}}" maxlength="40">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Quantity</label>
                                                                <div>
                                                                    <input type="number" id="quantity" name="quantity" class="form-control" value="{{row.7}}" maxlength="40">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Weight</label>
                                                                <div>
                                                                    <input type="text" id="Weight" name="Weight" class="form-control" value="{{row.8}}" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Pallets</label>
                                                                <div>
                                                                    <input type="text" id="Pallets" name="Pallets" class="form-control" value="{{row.9}}" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div-->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Client</label>
                                                                <div>
                                                                    <input type="text" id="client" name="client" class="form-control" value="{{row.4}}" maxlength="40">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label"> Date </label>
                                                                <div>
                                                                    <input type="date" id="datereg" name="datereg" value="{{row.10}}" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Factory</label>
                                                                <div>
                                                                    <input type="text" id="factory" name="factory" class="form-control" value="{{row.5}}" maxlength="50">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Route</label>
                                                                <div>
                                                                    <input type="text" id="route" name="route" class="form-control" value="{{row.11}}" maxlength="50">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Ship To</label>
                                                                <div>
                                                                    <input type="text" id="shipto" name="shipto" class="form-control" value="{{row.6}}" maxlength="50">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">SO/SA</label>
                                                                <div>
                                                                    <input type="text" id="SOSA" name="SOSA" class="form-control" value="{{row.14}}" maxlength="15">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Dispatch</label>
                                                                <select class="form-control" name="dispatch" id="dispatch" type="text">
                                                                    <option value="{{row.12}}">{{row.12}}</option>
                                                                    {% if row.13 == 'Yes'%}
                                                                    <option value="No">No</option>
                                                                    {% else %}
                                                                    <option value="Yes">Yes</option>
                                                                    {% endif %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">MRP </label>
                                                                <select class="form-control" name="mrp" id="mrp" type="text">
                                                                    <option value="{{row.15}}">{{row.15}}</option>
                                                                    {% for row in supervisors %}
                                                                    <option value="{{row.0}}">{{row.0}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Comments</label>
                                                                <div>
                                                                    <textarea id="comments" class="form-control" name="comments" rows="4" cols="50" maxlength="250">{{row.13}}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--div class="row">
                                                        <div class="col-md-12">
                                                            <p style="font-size:12px">*If you edit the quantities, the values for weight and pallets will be changed accordingly.</p>
                                                        </div>
                                                    </div-->
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button type="submit" class="btn btn-primary btn-block ">Edit Data</button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" onclick="">Cancel</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p style="text-align: center;font-size: 18px;"><b>Temporary Fields</b>
                    <p>
            </div>
        </div>
    </div>
</div>
<script src="static/plat_static/vendor/jquery/jquery.min.js"></script>
<script src="static/plat_static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="static/plat_static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugins -->
<script src="static/plat_static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/plat_static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="static/plat_static/js/demo/datatables-demo.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#table').DataTable();
});
</script>
{% endblock %}