<div
  class="modal fade"
  id="dailyDetailsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dailyDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dailyDetailsModalLabel">
          Detalhes dos Comentários
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="modalSafetyComment">Comentário de Segurança</label>
              <textarea
                class="form-control"
                id="modalSafetyComment"
                rows="7"
                disabled></textarea>
            </div>
            <div class="form-group">
              <label for="modalVolumeComment">Comentário de Volume</label>
              <textarea
                class="form-control"
                id="modalVolumeComment"
                rows="7"
                disabled></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="modalQualityComment">Comentário de Qualidade</label>
              <textarea
                class="form-control"
                id="modalQualityComment"
                rows="7"
                disabled></textarea>
            </div>
            <div class="form-group">
              <label for="modalPeopleComment">Comentário de Pessoas</label>
              <textarea
                class="form-control"
                id="modalPeopleComment"
                rows="7"
                disabled></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
