<div
  class="modal fade"
  id="editDailyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editDailyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDailyModalLabel">Editar Comentário</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editDailyForm">
          <div class="row">
            <div
              class="col-md-12 alert-section mt-1 mb-1 d-flex justify-content-center align-items-center"
              style="gap: 10px">
              <img
                src="{{ url_for('static', filename='content/comment_format.png') }}"
                alt="Formatação do Comentário"
                style="max-height: 12rem; width: auto; display: inline-block" />
            </div>
          </div>
          <input type="hidden" name="id" id="commentId" />
          <div class="row">
            <div class="form-group col-md-6">
              <label for="safetyComment">Comentário de Segurança</label>
              <span id="scount" class="float-right">0/1000</span>
              <textarea
                class="form-control"
                id="safetyComment"
                name="safety_comment"
                rows="9"
                maxlength="1000"
                oninput="updateCharCount('safetyComment', 'scount', 'saveEditedRecord', 1000)"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label for="qualityComment">Comentário de Qualidade</label>
              <span id="qcount" class="float-right">0/1000</span>
              <textarea
                class="form-control"
                id="qualityComment"
                name="quality_comment"
                rows="9"
                maxlength="1000"
                oninput="updateCharCount('qualityComment', 'qcount', 'saveEditedRecord', 1000)"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="volumeComment">Comentário de Volume</label>
              <span id="vcount" class="float-right">0/1000</span>
              <textarea
                class="form-control"
                id="volumeComment"
                name="volume_comment"
                rows="9"
                maxlength="1000"
                oninput="updateCharCount('volumeComment', 'vcount', 'saveEditedRecord', 1000)"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label for="peopleComment">Comentário de Pessoas</label>
              <span id="pcount" class="float-right">0/1000</span>
              <textarea
                class="form-control"
                id="peopleComment"
                name="people_comment"
                rows="9"
                maxlength="1000"
                oninput="updateCharCount('peopleComment', 'pcount', 'saveEditedRecord', 1000)"></textarea>
            </div>
          </div>
          <div class="justify-content-end d-flex">
            <button type="button" class="btn btn-success" id="saveEditedRecord">
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
