<div class="mt-2">
  <div class="row">
    <h2 class="col-md-10">Equipamentos - {{ cost_center }}</h2>

    <div class="col-md-2">
      <button
        class="btn btn-success"
        onclick="mostrarAdicionarEquip('{{ cost_center }}')">
        <i class="fa-solid fa-plus mr-1"></i>
        Equipamento
      </button>

      <button class="btn btn-success" onclick="mostrarAdicionarGama()">
        <i class="fa-solid fa-plus mr-1"></i>
        Gama
      </button>
    </div>
  </div>

  <div class="row mt-4">
    {% for equipamento in equipamentos %}
    <div class="col-md-6 mb-4">
      <div
        class="card shadow-sm cursor-pointer"
        onclick="mostrarGamas({{ equipamento.id }})">
        <div class="card-body">
          <h5 class="card-title">{{ equipamento.equipment }}</h5>
        </div>
        <div
          class="gamas-container"
          id="gamas-{{ equipamento.id }}"
          style="display: none; padding: 15px">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Gama</th>
                <th scope="col">Periodicidade</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody id="gamas-body-{{ equipamento.id }}"></tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include "configs/components/addGamaModal.html" %} {% include
"configs/components/editGamaModal.html" %} {% include
"configs/components/addEquipment.html" %}

<style>
  .cursor-pointer {
    cursor: pointer;
  }

  .gamas-container {
    padding: 15px;
  }
</style>

<script>
  function carregarPeriocities() {
    $.ajax({
      url: "/get_periocities",
      method: "GET",
      success: function (response) {
        var select = document.getElementById("gamaPeriodicidade");
        select.innerHTML =
          '<option value="">Selecione uma periodicidade</option>';

        response.forEach(function (p) {
          var option = document.createElement("option");
          option.value = p.id;
          option.textContent = p.periocity;
          select.appendChild(option);
        });
      },
      error: function () {
        alert("Erro ao carregar as periodicidades.");
      },
    });
  }

  function mostrarGamas(equipamentoId) {
    var gamasContainer = document.getElementById("gamas-" + equipamentoId);

    if (gamasContainer.style.display === "block") {
      gamasContainer.style.display = "none";
      return;
    }

    gamasContainer.style.display = "block";

    $.ajax({
      url: "/gamas_do_equipamento/" + equipamentoId,
      method: "GET",
      success: function (response) {
        var gamasBody = document.getElementById("gamas-body-" + equipamentoId);
        gamasBody.innerHTML = "";

        response.forEach(function (gama) {
          var row = `
          <tr>
            <td>${gama.gama_desc}</td>
            <td>${gama.periocity}</td>
            <td>
              <button class="btn btn-warning btn-sm" onclick="editarGama(${equipamentoId}, ${gama.gama_id}, event)">
                Editar Gama
              </button>
            </td>
          </tr>
        `;
          gamasBody.innerHTML += row;
        });
      },
      error: function () {
        alert("Erro ao carregar as gamas.");
      },
    });
  }

  function editarGama(equipamentoId, gamaId, event) {
    event.stopPropagation();

    $.ajax({
      url: "/get_gama_e_periocidade/" + gamaId,
      method: "GET",
      success: function (response) {
        console.log(response);
        document.getElementById("equipamentoEdit").value = response.equipamento;
        document.getElementById("gama").value = response.gama_desc;
        document.getElementById("periodicidade").value = response.periocity_id;

        document.getElementById("equipamentoId").value =
          response.equipamento_id;
        document.getElementById("gamaId").value = response.id_gama;
        document.getElementById("periocidadeOldId").value =
          response.periocity_id;

        $.ajax({
          url: "/get_periocities",
          method: "GET",
          success: function (periocidadesResponse) {
            console.log(periocidadesResponse);

            var selectPeriodicity = document.getElementById("periodicidade");

            selectPeriodicity.innerHTML = "";

            periocidadesResponse.forEach(function (periocity) {
              var option = document.createElement("option");
              option.value = periocity.id;
              option.textContent = periocity.periocity;
              selectPeriodicity.appendChild(option);
            });
            selectPeriodicity.value = response.periocity_id;
            $("#editGamaModal").modal("show");
          },
          error: function () {
            alert("Erro ao carregar as periocidades.");
          },
        });
      },
      error: function () {
        alert("Erro ao carregar os dados da gama.");
      },
    });
  }

  function salvarEdicao() {
    var equipamentoId = document.getElementById("equipamentoId").value;
    var gamaDesc = document.getElementById("gama").value;
    var periocityId = document.getElementById("periodicidade").value;
    var gamaId = document.getElementById("gamaId").value;
    var oldPeriocityId = document.getElementById("periocidadeOldId").value;

    $.ajax({
      url: "/update_gama_e_periocidade",
      method: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        equipamentoId: equipamentoId,
        gamaDesc: gamaDesc,
        periocityId: periocityId,
        idGama: gamaId,
        oldPeriocityId: oldPeriocityId,
      }),
      success: function (response) {
        if (response.success) {
          location.reload();
        } else {
          alert("Erro ao atualizar a gama.");
        }
      },
      error: function () {
        alert("Erro ao salvar as alterações.");
      },
    });
  }

  function mostrarAdicionarGama() {
    carregarPeriocities();
    $("#modalAdicionarGama").modal("show");
  }

  function mostrarAdicionarEquip(cost_center) {
    document.getElementById("costCenter").value = cost_center;

    $("#adicionarEquipModal").modal("show");
  }

  function salvarEquipamento() {
    var costCenter = document.getElementById("costCenter").value;
    var equipamentoNome = document.getElementById("equipamentoNome").value;
    var equipamentoDesc = document.getElementById("equipamentoDesc").value;

    $.ajax({
      url: "/adicionar_equipamento",
      method: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        costCenter: costCenter,
        equipment: equipamentoNome,
        descricao: equipamentoDesc,
      }),
      success: function (response) {
        if (response.success) {
          location.reload();
        } else {
          alert("Erro ao salvar o equipamento.");
        }
      },
      error: function () {
        alert("Erro ao salvar o equipamento.");
      },
    });
  }
</script>
