<div
  class="modal fade"
  id="editAvariaModal{{ area }}"
  tabindex="-1"
  aria-labelledby="editAvariaModalLabel{{ area }}"
  aria-hidden="true"
  data-area="{{ area }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAvariaModalLabel{{ area }}">
          Editar Tipo de Avaria
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('edit_avaria', area=area) }}">
          <input
            type="hidden"
            class="tipo-id"
            name="id"
            data-area="{{ area }}" />

          <div class="mb-3">
            <label class="form-label">Selecione o Tipo de Avaria</label>
            <select
              class="form-select tipo-select"
              name="id"
              data-area="{{ area }}"
              required>
              <option value="" disabled selected>
                Selecione um tipo de avaria
              </option>
              {% for tipo in data.tipos %}
              <option value="{{ tipo.id }}" data-tipo="{{ tipo.tipo }}">
                {{ tipo.tipo }}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Novo Tipo de Avaria</label>
            <input
              type="text"
              class="form-control tipo-edit"
              name="tipo"
              data-area="{{ area }}"
              required />
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener("change", function (event) {
      if (event.target && event.target.classList.contains("tipo-select")) {
        const tipoSelect = event.target;
        const area = tipoSelect.getAttribute("data-area");

        const tipoEdit = document.querySelector(
          `.tipo-edit[data-area="${area}"]`
        );
        const tipoId = document.querySelector(`.tipo-id[data-area="${area}"]`);

        const selectedOption = tipoSelect.options[tipoSelect.selectedIndex];
        tipoEdit.value = selectedOption.getAttribute("data-tipo");
        tipoId.value = selectedOption.value;
      }
    });
  });
</script>
