<div
  class="modal fade"
  id="editMTModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editmtModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editmtModalLabel">Editar Técnico</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('settings.update_mt') }}" method="POST">
          <input type="hidden" id="id" name="id" />
          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                readonly />
            </div>

            <div class="form-group col-md-6">
              <label for="n_colaborador">Nº de Colaborador</label>
              <input
                type="text"
                class="form-control"
                id="n_colaborador"
                name="n_colaborador"
                readonly />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="area">Área</label>
              <input type="text" class="form-control" id="area" name="area" />
            </div>
            <div class="form-group col-md-6">
              <label for="n_card">Nº do Cartão</label>
              <input
                type="text"
                class="form-control"
                id="n_card"
                name="n_card" />
            </div>
          </div>
          <div class="justify-content-center d-flex">
            <button
              type="submit"
              class="btn"
              style="background-color: #051729; color: white">
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
