<nav aria-label="Page navigation" class="mt-4" id="nav">
  <ul class="pagination justify-content-center">
    <!-- Botão "Anterior" -->
    {% if page > 1 %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('settings.admin_tl', page=page - 1, area=filtro_area, turno=filtro_turno) }}"
        >&laquo;</a
      >
    </li>
    {% endif %} {% if start_page > 1 %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('settings.admin_tl', page=1, area=filtro_area, turno=filtro_turno) }}"
        >1</a
      >
    </li>
    {% if start_page > 2 %}
    <li class="page-item disabled">
      <span class="page-link">...</span>
    </li>
    {% endif %} {% endif %} {% for p in range(start_page, end_page + 1) %}
    <li class="page-item {% if p == page %}active{% endif %}">
      <a
        class="page-link"
        href="{{ url_for('settings.admin_tl', page=p, area=filtro_area, turno=filtro_turno) }}"
        >{{ p }}</a
      >
    </li>
    {% endfor %} {% if end_page < total_pages %} {% if end_page < total_pages -
    1 %}
    <li class="page-item disabled">
      <span class="page-link">...</span>
    </li>
    {% endif %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('settings.admin_tl', page=total_pages, area=filtro_area, turno=filtro_turno) }}"
        >{{ total_pages }}</a
      >
    </li>
    {% endif %} {% if page < total_pages %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('settings.admin_tl', page=page + 1, area=filtro_area, turno=filtro_turno) }}"
        >&raquo;</a
      >
    </li>
    {% endif %}
  </ul>
</nav>
