{% extends 'components/sidebar.html' %} {% block content %} {% if
session['username'] %}
<div class="justify-content-center text-center d-flex" style="color: #2cedd4">
  Bem-vindo, {{ session['username'] }}!
</div>

<li class="nav-item mt-2">
  <a class="btn nav-link collapsed" href="/settings">
    <span>Main</span>
  </a>
</li>
<div class="sidebar-heading mt-2" style="color: #2cedd4">Gerir</div>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/admin_mtl">
    <span>Teamleaders M.</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/admin_tl">
    <span>Teamleaders</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/admin_mt">
    <span>Técnicos</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/admin_avarias">
    <span>Tipos de Avarias</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/contacts">
    <span>Lista de Contactos</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/mes_descriptions">
    <span>Lista de Descrições</span>
  </a>
</li>

<div class="sidebar-heading mt-2" style="color: #2cedd4">
  Gestão de Preventivas
</div>
<li class="nav-item">
  <a class="btn nav-link collapsed" href="/cost_center_gamas">
    <span>Gamas</span>
  </a>
</li>
<li class="nav-item">
  <a class="btn nav-link collapsed" href="/wi">
    <span>Instruções de Trabalho</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/out">
    <i class="fas fa-sign-out-alt" style="color: #2cedd4"></i>
    <span>Sair</span>
  </a>
</li>

{% else %} {% endif %} {% endblock %}
