{% extends 'home.html' %}
{% block content %}

<head>
<link href="assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<style type="text/css">
  #coisas_do_card{
    margin: 10px;
        border-radius: 4px;
        background: ghostwhite;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  }
</style>
</head>
<body>
<br>
<div class="container">
              <div>            
                  <!--  FLASH MENSAGENS!-->
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-info" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
              </div>
          </div>
  	<!--div class="row" >
	    <div class="col-12 col-md-4">
	      	<div class="card" id="coisas_do_card">
		      	<div class="card-header">
				    <h4><strong>Status Requisições</strong></h4>
				</div>
		        <div class="card-body" >
				    <div class="row">
						<div class="col-12">
						     Requisições Abertas : 12
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							Nº Requisições Concluidas : 12
						</div>
					</div>
				</div>
			</div>
	    </div>
    
	 	<div class="col-12 col-md-4">
		    <div class="card" id="coisas_do_card">
		      <div class="card-header">
				    <h4><strong>Transportes Status</strong></h4>
				  </div>
		        	<div class="card-body">
		          		<div class="row">
				          	<div class="col-12">
				          		Nº Requisições Fechadas : 12
				          	</div>
			         	</div>
			         	<div class="row">
				          	<div class="col-12">
				          		Nº Requisições Pendentes : 12
				          	</div>
			         	</div>
		        	</div>
		      </div>
	    </div>

	    <div class="col-12 col-md-4">
	        <div class="card" id="coisas_do_card">
	          <div class="card-header">
	          <h4><strong>Status Aprovações</strong></h4>
	          </div>
	          	<div class="card-body">
	          		<div class="row">
			          	<div class="col-12">
			          		Nº Requisições por Aprovar : 20
			          	</div>
		         	</div>
		          	<div class="row">
			          	<div class="col-12">
			          		Nº Requisições Aprovadas : 150
			          	</div>
		         	</div>
		         	<div class="row">
			          	<div class="col-12">
			          		Nº Requisições Recusadas : 120
			          	</div>
		         	</div>
		         </div>
	          </div>
	        </div>
  </div-->
</body>
{% endblock %}
