<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/ico" href="static/initial_page/img/icon.PNG" />
    <title>MMS</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />

    <link rel="stylesheet" href="static/initial_page/css/all.min.css" />

    <link rel="stylesheet" href="static/initial_page/css/bootstrap.min.css" />

    <link rel="stylesheet" href="static/initial_page/css/tooplate-style.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <style type="text/css">
      .modal {
        z-index: 10000;
      }

      #coisa_footer {
        text-align: center;
      }
      body {
        font-family: "Montserrat";
      }

      .logo-img {
        height: 33px;
        margin-top: 20px;
        margin-right: 20px;
      }

      @media (max-width: 768px) {
        .logo-img {
          height: 25px;
          margin-top: 15px;
          margin-right: 10px;
        }
      }
    </style>
  </head>

  <body>
    <div class="container mt-3" id="home">
      <div
        class="row justify-content-center text-center flex-column flex-md-row">
        <div class="col-12 text-center">
          <img
            src="static/initial_page/img/app_logo.png"
            alt="App Logo"
            class="tm-activity-img img-fluid"
            style="
              transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
                0.3s box-shadow,
                0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
              border-radius: 2px;
              height: 90px;
            " />
        </div>

        <div class="col-12 mt-3">
          <h5 class="tm-activity-title">Maintenance Management System</h5>
        </div>
      </div>
    </div>

    <div class="tm-nav-section mt-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <img
                      class="logo-img"
                      src="static/initial_page/img/borgwarner_blue.png"
                      alt="Image" />
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      type="button"
                      href="/autonomous"
                      style="font-size: 18px; margin-right: 8px"
                      >Autonomous Maintenance</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      type="button"
                      href="/preventive"
                      style="font-size: 18px; margin-right: 8px"
                      >Preventive Maintenance</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      type="button"
                      href="/corrective"
                      style="font-size: 18px; margin-right: 8px"
                      >Corrective Maintenance</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      type="button"
                      data-toggle="modal"
                      data-target="#loginModal"
                      data-url="/login_daily"
                      style="font-size: 18px; margin-right: 8px">
                      Daily Team Communication
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      type="button"
                      href="/monotoring"
                      style="font-size: 18px; margin-right: 8px"
                      >Planning, Monitoring</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      type="button"
                      href="/manual"
                      target="_blank"
                      rel="noopener noreferrer"
                      style="font-size: 18px; margin-right: 8px">
                      Manual
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      type="button"
                      data-toggle="modal"
                      data-target="#loginModal"
                      data-url="/login_settings"
                      style="font-size: 18px; margin-right: 8px">
                      Settings
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
            {% include "components/messages.html" %}
          </div>
        </div>
      </div>
    </div>

    <section class="tm-banner-section" id="tmVideoSection">
      <div class="container tm-banner-text-container">
        <div class="row">
          <div class="col-12">
            <header>
              <h2 class="tm-banner-title"><strong>M.M.S.</strong></h2>
            </header>
          </div>
        </div>
      </div>

      <video
        id="hero-vid"
        autoplay=""
        loop=""
        muted
        style="width: 100%; height: auto">
        <source
          src="static/initial_page/videos/shutterstock.mp4"
          type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </section>

    {% include "components/footer.html" %} {% include
    "components/loginModal.html" %}

    <script src="static/initial_page/js/jquery.singlePageNav.min.js"></script>

    <script src="static/initial_page/js/jquery-1.9.1.min.js"></script>
    <script src="static/initial_page/js/jquery.singlePageNav.min.js"></script>

    <script>
      {% include "utils/javascript/login.js" %}

      function detectIE() {
        var ua = window.navigator.userAgent;

        var msie = ua.indexOf("MSIE ");
        if (msie > 0) {
          return parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)), 10);
        }

        var trident = ua.indexOf("Trident/");
        if (trident > 0) {
          var rv = ua.indexOf("rv:");
          return parseInt(ua.substring(rv + 3, ua.indexOf(".", rv)), 10);
        }

        return false;
      }

      function setVideoHeight() {
        const videoRatio = 1920 / 1080;
        const minVideoWidth = 400 * videoRatio;
        let secWidth = 0,
          secHeight = 0;

        secWidth = videoSec.width();
        secHeight = videoSec.height();

        secHeight = secWidth / 2.13;

        if (secHeight > 600) {
          secHeight = 600;
        } else if (secHeight < 400) {
          secHeight = 400;
        }

        if (secWidth > minVideoWidth) {
          $("video").width(secWidth);
        } else {
          $("video").width(minVideoWidth);
        }

        videoSec.height(secHeight);
      }

      // Parallax function
      // https://codepen.io/roborich/pen/wpAsm
      var background_image_parallax = function ($object, multiplier) {
        multiplier = typeof multiplier !== "undefined" ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({ "background-attatchment": "fixed" });
        $(window).scroll(function () {
          var from_top = $doc.scrollTop(),
            bg_css = "center " + multiplier * from_top + "px";
          $object.css({ "background-position": bg_css });
        });
      };

      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $(".scrolltop:hidden").stop(true, true).fadeIn();
        } else {
          $(".scrolltop").stop(true, true).fadeOut();
        }

        // Make sticky header
        if ($(this).scrollTop() > 158) {
          $(".tm-nav-section").addClass("sticky");
        } else {
          $(".tm-nav-section").removeClass("sticky");
        }
      });

      let videoSec;

      $(function () {
        if (detectIE()) {
          alert(
            "Please use the latest version of Edge, Chrome, or Firefox for best browsing experience."
          );
        }

        const mainNav = $("#tmMainNav");
        mainNav.singlePageNav({
          filter: ":not(.external)",
          offset: $(".tm-nav-section").outerHeight(),
          updateHash: true,
          beforeStart: function () {
            mainNav.removeClass("show");
          },
        });

        videoSec = $("#tmVideoSection");

        $(window).resize(function () {
          setVideoHeight();
        });

        setVideoHeight();

        $(window).on("load scroll resize", function () {
          var scrolled = $(this).scrollTop();
          var vidHeight = $("#hero-vid").height();
          var offset = vidHeight * 0.6;
          var scrollSpeed = 0.25;
          var windowWidth = window.innerWidth;

          if (windowWidth < 768) {
            scrollSpeed = 0.1;
            offset = vidHeight * 0.5;
          }

          $("#hero-vid").css(
            "transform",
            "translate3d(-50%, " + -(offset + scrolled * scrollSpeed) + "px, 0)"
          ); // parallax (25% scroll rate)
        });

        background_image_parallax($(".tm-parallax"), 0.4);

        $(".scroll").click(function () {
          $("html,body").animate(
            { scrollTop: $("#home").offset().top },
            "1000"
          );
          return false;
        });
      });
    </script>
  </body>
</html>
