{% with messages =
get_flashed_messages(with_categories=true,category_filter=["error","info","success","warning"])
%} {% if messages %} {% for category,message in messages %} {% if category ==
'warning' %}
<div class="alert alert-warning" role="alert">
  <span>{{ message }}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif category == 'info' %}
<div class="alert alert-info" role="alert">
  <span>{{ message }}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif category == 'success' %}
<div class="alert alert-success" role="alert">
  <span>{{ message }}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif category == 'error' %}
<div class="alert alert-danger" role="alert">
  <span>{{ message }}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
