<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="linesOffcanvas"
  aria-labelledby="linesOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="linesOffcanvasLabel">
      Áreas e respetivas Linhas
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Fechar"></button>
  </div>
  <div class="offcanvas-body">
    <div id="linesOffcanvasContent">
      <p class="text-muted">A carregar linhas...</p>
    </div>
  </div>
</div>
