<div
  class="modal fade"
  id="commentsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="commentsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentsModalLabel">Registar Atividade</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tab-content mt-3">
          <div
            class="tab-pane fade show active"
            id="commentSection"
            role="tabpanel"
            aria-labelledby="comment-pill">
            <div
              class="alert alert-warning"
              id="technical-warning"
              style="display: none">
              <strong>Aviso:</strong> Já se encontra noutra manutenção. Faça um
              comentário para esta manutenção, se deseja começar outra.
            </div>

            <div id="corretiva-info" class="row mb-3">
              <div class="col-md-6">
                <p hidden>
                  <strong>ID:</strong>
                  <span id="corretiva-id"></span>
                </p>
                <p>
                  <strong>Linha de Produção:</strong>
                  <span id="corretiva-prod-line"></span>
                </p>
                <p>
                  <strong>Descrição:</strong>
                  <span id="corretiva-description"></span>
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  <strong>Equipamento:</strong>
                  <span id="corretiva-equipament"></span>
                </p>
                <p>
                  <strong>Data do Pedido:</strong>
                  <span id="corretiva-pedido-date"></span>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                <label for="select-tecnico"
                  ><strong>Selecionar Técnico:</strong></label
                >
                <select
                  id="select-tecnico"
                  class="form-control"
                  required
                  disabled></select>
              </div>

              <div class="col-md-4">
                <label for="select-avaria"
                  ><strong>Selecionar Tipo de Avaria:</strong></label
                >
                <select
                  id="select-avaria"
                  class="form-control"
                  required></select>
              </div>
              <div class="col-md-3">
                <label for="select-stop"
                  ><strong>Parou a produção?</strong></label
                >
                <select id="select-stop" class="form-control" required>
                  <option value="">Selecione</option>
                  <option value="Sim">Sim</option>
                  <option value="Não">Não</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 mt-3">
                <label class="custom-checkbox">
                  Elegível para ação sistémica?
                  <input
                    type="checkbox"
                    name="elegivel_sistemica"
                    id="elegivelSistemica"
                    value="Sim" />
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="col-md-6" id="divDefinidaAcao" style="display: none">
                <label><strong>Está definida ação?</strong></label
                ><br />
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="definida_acao"
                    id="definidaSim"
                    value="Sim" />
                  <label class="form-check-label" for="definidaSim">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="definida_acao"
                    id="definidaNao"
                    value="Não"
                    checked />
                  <label class="form-check-label" for="definidaNao">Não</label>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-md-12">
                <label for="images"
                  >Selecione Imagens (.png, .jpg, .jpeg, .gif)</label
                >
                <input
                  type="file"
                  class="form-control-file"
                  id="images"
                  name="images"
                  multiple />
              </div>
            </div>
            <div class="form-group">
              <label for="comment"
                ><strong
                  >Causa-raiz / Correcção executada / Proposta de correcção
                  sistémica</strong
                ></label
              >
              <span id="conta" class="float-right">0/300</span>
              <textarea
                id="comment"
                class="form-control"
                rows="7"
                maxlength="300"
                oninput="updateCharCount('comment', 'conta', 'submitComment',300)"
                required></textarea>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="associateSection"
            role="tabpanel"
            aria-labelledby="associate-pill">
            <div class="form-group">
              <label for="select-new-tecnico"
                ><strong>Selecionar Técnico para Associar:</strong></label
              >
              <select
                id="select-new-tecnico"
                class="form-control"
                required
                disabled></select>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id="submitComment" class="btn btn-success">
          <i class="fa-solid fa-arrow-up-right-from-square mr-1"></i>
          Registar Atividade
        </button>
        <button type="button" id="finishMaintenance" class="btn btn-danger">
          <i class="fa-solid fa-check mr-1"></i>
          Finalizar Manutenção
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
