<div
  class="modal fade"
  id="modalLogin"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLoginLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginLabel">Login Técnico</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="loginForm">
          <p class="text-muted">
            Preencha apenas uma das opções abaixo para fazer login.
          </p>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="card_num" style="color: black"
                  >Login com cartão</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="card_num"
                  name="card_num" />
              </div>
            </div>
          </div>
          <p class="text-left" style="color: black">Login com crendenciais</p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password" />
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn"
            style="background-color: #051729; color: white">
            Entrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
