{% extends 'components/sidebar.html' %} {% block content %}
<li class="nav-item">
  <a
    class="btn nav-link collapsed"
    data-toggle="modal"
    data-target="#modalCorrective">
    <i class="fas fa-tools" style="color: #2cedd4"></i>
    <span>Pedido de Manutenção</span>
  </a>
</li>

<div class="sidebar-heading mt-2" style="color: #2cedd4">Manutenções</div>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/corrective">
    <span>Pendentes</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/inwork">
    <span>Em Curso</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/finished">
    <span>Concluídas</span>
  </a>
</li>

<div class="sidebar-heading mt-2" style="color: #2cedd4">Analytics</div>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/corrective_analytics">
    <span>Total de Pedidos</span>
  </a>
</li>
{% endblock %}
