{% extends 'components/sidebar.html' %} {% block content %} {% if
session['username'] %}
<div class="justify-content-center d-flex text-center" style="color: #2cedd4">
  Bem-vindo, {{ session['nome'] }}!
</div>
<a
  class="btn nav-link collapsed"
  data-toggle="modal"
  data-target="#modalCorrective">
  <i class="fas fa-tools" style="color: #2cedd4"></i>
  <span>Pedir Manutenção</span>
</a>

<li class="nav-item">
  <a href="/mt_profile" class="btn nav-link collapsed">
    <i class="fa-solid fa-user" style="color: #2cedd4"></i>
    <span>Perfil</span>
  </a>
</li>
<br />
<div class="sidebar-heading mt-2" style="color: #2cedd4">
  Pedidos de Manutenção
</div>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/notifications">
    <span>Pendentes</span>
  </a>
</li>
<li class="nav-item">
  <a class="btn nav-link collapsed" href="/inwork">
    <span>Em Curso</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/finished">
    <span>Concluídos</span>
  </a>
</li>

<div class="sidebar-heading mt-2" style="color: #2cedd4">Comentários</div>

<li class="nav-item">
  <a
    class="btn nav-link collapsed"
    href="/pending_comments"
    id="comentariosPendentesBtn">
    <span>Pendentes</span>
    <i
      id="alertIcon"
      class="fas fa-exclamation-circle"
      style="display: none; color: red"></i>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/corrective_comments">
    <span>Todos</span>
  </a>
</li>

<div class="sidebar-heading mt-2" style="color: #2cedd4">
  Ordem de Manutenção
</div>
<li class="nav-item">
  <a id="createOrder" class="btn nav-link collapsed">
    <span>Criar ordem</span>
  </a>
</li>

<div class="sidebar-heading mt-2" style="color: #2cedd4">Analytics</div>
<li class="nav-item">
  <a class="btn nav-link collapsed" href="/corrective_analytics">
    <span>Total de Pedidos</span>
  </a>
</li>

<li class="nav-item">
  <a class="btn nav-link collapsed" href="/logout">
    <i class="fas fa-sign-out-alt" style="color: #2cedd4"></i>
    <span>Sair</span>
  </a>
</li>
{% else %}
<!--<li class="nav-item">
  <a
    class="btn nav-link collapsed"
    data-toggle="modal"
    data-target="#modalCorrective">
    <i class="fas fa-tools" style="color: #2cedd4"></i>
    <span>Pedir Manutenção</span>
  </a>
</li>-->
<li class="nav-item">
  <a
    class="btn nav-link collapsed"
    data-toggle="modal"
    data-target="#modalLogin">
    <i class="fas fa-sign-in-alt" style="color: #2cedd4"></i>
    <span>Login</span>
  </a>
</li>
{% endif %} {% endblock %}
