<div
  class="modal fade"
  id="takeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="takeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="takeModalLabel">Iniciar Manutenção</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="takeModalForm">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-lg-6">
                <label><strong>Data do Pedido:</strong></label>
                <input
                  type="text"
                  id="modal-pedido-date"
                  class="form-control"
                  disabled />
              </div>
              <div hidden class="col-lg-6">
                <label for="modal-id"><strong>ID:</strong></label>
                <input
                  type="text"
                  id="modal-id"
                  class="form-control"
                  disabled />
              </div>
              <div class="col-lg-6">
                <label><strong>Linha de Produção:</strong></label>
                <input
                  type="text"
                  id="modal-prod-line"
                  class="form-control"
                  disabled />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <label><strong>Descrição:</strong></label>
                <input
                  type="text"
                  id="modal-description"
                  class="form-control"
                  disabled />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <label><strong>Equipamento:</strong></label>
                <input
                  type="text"
                  id="modal-equipament"
                  class="form-control"
                  disabled />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <label for="n_tecnico"
                  ><strong>Número do Técnico:</strong></label
                >
                <input
                  type="number"
                  class="form-control"
                  id="n_tecnico"
                  name="n_tecnico"
                  required />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn"
            style="background-color: #051729; color: white">
            Confirmar Ação
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Fechar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
